{{> popup/popup }}

<script src="%=static=%js/separate-js/jquery-3.4.1.min.js"></script>
<script src="navigation.js"></script>
<script src="%=static=%js/separate-js/jquery.fancybox.min.js"></script>
<script src="%=static=%js/separate-js/jquery.nice-select.min.js"></script>
<script src="%=static=%js/separate-js/jquery.numberMask.min.js"></script>
<script src="%=static=%js/separate-js/jquery.maskedinput.min.js"></script>
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
<script src="%=static=%js/separate-js/jquery.validate.min.js"></script>
<script src="%=static=%js/separate-js/myvalidate.js"></script>