<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header2 }}

    <div class="white-bg">
        <div class="container">
            <div class="white-bg-row">
                <div class="navbar">
                    <a href="#">Главная</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">Справочная</a>
                </div>
            </div>

            <div class="contacts__items">
                <div class="contacts__item">
                    <div class="contacts__item-header">
                        {{Icon iconName="alert"}}
                        <p>контакты</p>
                    </div>
                    <div class="contacts__item-row">
                    </div>
                    <div class="contacts__item-row">
                        {{Icon iconName="or-place"}}
                        <p>Heydar Aliyev Ave. 125,</p>
                    </div>
                    <div class="contacts__item-row">
                        <svg></svg>
                        <p>Qafqaz Business Center, 5th floor</p>
                    </div>
                    <div class="contacts__item-row">
                        {{Icon iconName="or-mail"}}
                        <a href="mailto:info@jiraf.com">info@jiraf.com</a>
                    </div>
                    <div class="contacts__item-row"></div>
                    <div class="contacts__item-row">
                        {{Icon iconName="or-phone"}}
                        <a href="tel:994500000000">+ 994 50 000 00 00</a>
                    </div>
                    <div class="contacts__item-row"></div>
                    <div class="contacts__item-row">
                        {{Icon iconName="or-face"}}
                        <a href="#">Jiraf.az</a>
                    </div>
                    <div class="contacts__item-row"></div>
                    <div class="contacts__item-row">
                        {{Icon iconName="or-insta"}}
                        <a href="#">@jiraf.az</a>
                    </div>
                    <div class="contacts__item-row"></div>
                </div>

                <div class="contacts__item">
                    <div class="contacts__item-header">
                        {{Icon iconName="write"}}
                        <p>обратная связь</p>
                    </div>
                    <div class="popup__body active">
                        <form class="popup-form" id="contactsForm" autocomplete="off">
                            <label class="popup-label">
                                {{Icon iconName="or-user"}}
                                <div class="popup-div">
                                    <input type="text" name="name" class="popup-input">
                                    <span class="popup-span">Имя</span>
                                </div>
                            </label>
                            <label class="popup-label">
                                {{Icon iconName="or-mail"}}
                                <div class="popup-div">
                                    <input type="text" name="mail" class="popup-input">
                                    <span class="popup-span">Почта</span>
                                </div>
                            </label>
                            <textarea name="message" id=""></textarea>
                            <button type="submit" class="reg-btn">Отправить</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{> footer/footer2 }}

    {{> bottom/bottom }}
</body>

</html>