<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header }}

    <main class="main">
        <div class="container">
            <div class="main__block">
                <a href="/post.html" class="main__btn">
                    {{Icon iconName="header-icon2"}}
                    подать объявление
                </a>
            </div>
        </div>
    </main>

    <div class="white-bg">
        <div class="container">

            <div class="index-form">
                <div class="index-form-header">
                    <a href="#" class="or-search">
                        {{Icon iconName="search-one"}}
                        Поиск
                    </a>
                    <ul class="index-form-list">
                        <li class="index-form-item active">
                            {{Icon iconName="sell"}}
                            Продам/отдам
                        </li>
                        <li class="index-form-item">
                            {{Icon iconName="buy"}}
                            Куплю/Приму
                        </li>
                        <li class="index-form-item">
                            {{Icon iconName="lap"}}
                            Вязка
                        </li>
                        <li class="index-form-item">
                            {{Icon iconName="sos-one"}}
                            Сос
                        </li>
                    </ul>
                </div>
                <div class="index-form-body">

                    <div class="index-form-content active">
                        <!-- Контент для Продам/отдам -->
                        <form id="sell-form" class="sell-form">
                            <div class="sell-form__row">
                                <div class="sell-form-col">
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите вид животного</option>
                                        <option value="1">Кошка</option>
                                        <option value="2">Собака</option>
                                        <option value="3">Лошадь</option>
                                        <option value="4">Корова</option>
                                        <option value="5">Свинья</option>
                                    </select>
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите породу</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>

                                    <div class="checks">
                                        <div class="check">
                                            <input type="checkbox" name="type" id="check1" class="check-input">
                                            <label for="" class="check-label">Самец</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" name="type" id="check2" class="check-input">
                                            <label for="" class="check-label">Самка</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" name="type" id="check3" class="check-input">
                                            <label for="" class="check-label">Кастрированн/
                                            Стерилизированн</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="sell-form-col">
                                    <div class="form--row">
                                        <span>Цена</span>
                                        <label>
                                            от
                                            <input type="text" class="format">
                                        </label>
                                        <label>
                                            до
                                            <input type="text" class="format">
                                        </label>
                                        <p>AZN</p>
                                    </div>

                                    <div class="check check-right">
                                        <input type="checkbox" name="price" id="check4" class="check-input">
                                        <label for="" class="check-label">договорная цена</label>
                                    </div>

                                    <div class="form--row">
                                        <span>Возраст</span>
                                        <label>
                                            от
                                            <input type="text" class="form-number" maxlength="2">
                                        </label>
                                        <label>
                                            до
                                            <input type="text" class="form-number" maxlength="2">
                                        </label>
                                        <p>месяцев</p>
                                    </div>

                                    <select class="sell-select">
                                        <option value="1" disabled selected>Выберите место рождения</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <select class="sell-select">
                                        <option value="1" disabled selected>Выберите окрас</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>

                                </div>

                                <div class="sell-form-col">
                                    <select class="sell-select">
                                        <option value="1" disabled selected>Выберите город</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <a href="#" class="add-region">+ добавить район</a>

                                    <div class="form-regions">
                                        <!-- Регионы  -->
                                    </div>
                                </div>
                            </div>


                            <button class="submit-form">
                                НАЙТИ
                            </button>

                        </form>

                    </div>

                    <div class="index-form-content">
                        <!-- Контент для Куплю/приму -->
                        <form id="buy-form" class="sell-form">
                            <div class="sell-form__row">
                                <div class="sell-form-col">
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите вид животного</option>
                                        <option value="1">Кошка</option>
                                        <option value="2">Собака</option>
                                        <option value="3">Лошадь</option>
                                        <option value="4">Корова</option>
                                        <option value="5">Свинья</option>
                                    </select>
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите породу</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>

                                    <div class="checks">
                                        <div class="check">
                                            <input type="checkbox" name="type" id="check21" class="check-input">
                                            <label for="" class="check-label">Самец</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" name="type" id="check22" class="check-input">
                                            <label for="" class="check-label">Самка</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" name="type" id="check23" class="check-input">
                                            <label for="" class="check-label">Кастрированн/
                                            Стерилизированн</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="sell-form-col">
                                    <div class="form--row">
                                        <span>Цена</span>
                                        <label>
                                            от
                                            <input type="text" class="format">
                                        </label>
                                        <label>
                                            до
                                            <input type="text" class="format">
                                        </label>
                                        <p>AZN</p>
                                    </div>

                                    <div class="check check-right">
                                        <input type="checkbox" name="price" id="check40" class="check-input">
                                        <label for="" class="check-label">договорная цена</label>
                                    </div>

                                    <div class="form--row">
                                        <span>Возраст</span>
                                        <label>
                                            от
                                            <input type="text" class="form-number" maxlength="2">
                                        </label>
                                        <label>
                                            до
                                            <input type="text" class="form-number" maxlength="2">
                                        </label>
                                        <p>месяцев</p>
                                    </div>

                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите место рождения</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите окрас</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>

                                </div>

                                <div class="sell-form-col">
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите город</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <a href="#" class="add-region">+ добавить район</a>
                                    <div class="form-regions"></div>
                                </div>
                            </div>


                            <button class="submit-form">
                                НАЙТИ
                            </button>

                        </form>
                    </div>
                    <div class="index-form-content">
                        <!-- Контент для вязка -->
                        <form id="vyaz-form" class="sell-form">
                            <div class="sell-form__row">
                                <div class="sell-form-col">
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите вид животного</option>
                                        <option value="1">Кошка</option>
                                        <option value="2">Собака</option>
                                        <option value="3">Лошадь</option>
                                        <option value="4">Корова</option>
                                        <option value="5">Свинья</option>
                                    </select>
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите породу</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>

                                    <div class="checks">
                                        <div class="check">
                                            <input type="checkbox" name="type" id="check10" class="check-input">
                                            <label for="" class="check-label">Самец</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" name="type" id="check11" class="check-input">
                                            <label for="" class="check-label">Самка</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" name="type" id="check12" class="check-input">
                                            <label for="" class="check-label">Кастрированн/
                                            Стерилизированн</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="sell-form-col">
                                    <div class="form--row">
                                        <span>Цена</span>
                                        <label>
                                            от
                                            <input type="text" class="format">
                                        </label>
                                        <label>
                                            до
                                            <input type="text" class="format">
                                        </label>
                                        <p>AZN</p>
                                    </div>

                                    <div class="check check-right">
                                        <input type="checkbox" name="price" id="check41" class="check-input">
                                        <label for="" class="check-label">договорная цена</label>
                                    </div>

                                    <div class="form--row">
                                        <span>Возраст</span>
                                        <label>
                                            от
                                            <input type="text" class="form-number" maxlength="2">
                                        </label>
                                        <label>
                                            до
                                            <input type="text" class="form-number" maxlength="2">
                                        </label>
                                        <p>месяцев</p>
                                    </div>

                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите место рождения</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите окрас</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>

                                </div>

                                <div class="sell-form-col">
                                    <select class="sell-select">
                                        <option value="0" disabled selected>Выберите город</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <a href="#" class="add-region">+ добавить район</a>
                                    <div class="form-regions"></div>
                                </div>
                            </div>


                            <button class="submit-form">
                                НАЙТИ
                            </button>

                        </form>
                    </div>

                    <div class="index-form-content sos-form-content">
                        <!-- Контент для вкладки СОС -->
                        <div class="sell-form__row">
                            <ul class="sos-list">
                                <li class="sos-item active">Пропала</li>
                                <li class="sos-item">Нашлась</li>
                                <li class="sos-item">Грозит отстрел</li>
                                <li class="sos-item">Нужна помощь</li>
                            </ul>
                        </div>
                        <div class="tab-tabs active">

                            <form id="sos-form-1" class="sell-form">

                                <div class="sell-form__row">
                                    <div class="sell-form-col">
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите вид животного</option>
                                            <option value="1">Кошка</option>
                                            <option value="2">Собака</option>
                                            <option value="3">Лошадь</option>
                                            <option value="4">Корова</option>
                                            <option value="5">Свинья</option>
                                        </select>
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите породу</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>

                                        <div class="checks">
                                            <div class="check">
                                                <input type="checkbox" name="type" id="check6" class="check-input">
                                                <label for="" class="check-label">Самец</label>
                                            </div>
                                            <div class="check">
                                                <input type="checkbox" name="type" id="check7" class="check-input">
                                                <label for="" class="check-label">Самка</label>
                                            </div>
                                            <div class="check">
                                                <input type="checkbox" name="type" id="check8" class="check-input">
                                                <label for="" class="check-label">Кастрированн/
                                                Стерилизированн</label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="sell-form-col">


                                        <div class="check">
                                            <input type="checkbox" name="price" id="check5" class="check-input">
                                            <label for="" class="check-label">Ожидается вознагрождение</label>
                                        </div>

                                        <div class="form--row">
                                            <span>Возраст</span>
                                            <label>
                                                от
                                                <input type="text" class="form-number" maxlength="2">
                                            </label>
                                            <label>
                                                до
                                                <input type="text" class="form-number" maxlength="2">
                                            </label>
                                            <p>месяцев</p>
                                        </div>

                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите окрас</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>

                                    </div>

                                    <div class="sell-form-col">
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите город</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <a href="#" class="add-region">+ добавить район</a>
                                        <div class="form-regions"></div>
                                    </div>
                                </div>


                                <button class="submit-form">
                                    НАЙТИ
                                </button>
                            </form>
                        </div>

                        <div class="tab-tabs">

                            <form id="sos-form-2" class="sell-form">

                                <div class="sell-form__row">
                                    <div class="sell-form-col">
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите вид животного</option>
                                            <option value="1">Кошка</option>
                                            <option value="2">Собака</option>
                                            <option value="3">Лошадь</option>
                                            <option value="4">Корова</option>
                                            <option value="5">Свинья</option>
                                        </select>
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите породу</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>

                                        <div class="checks">
                                            <div class="check">
                                                <input type="checkbox" name="type" id="check36" class="check-input">
                                                <label for="" class="check-label">Самец</label>
                                            </div>
                                            <div class="check">
                                                <input type="checkbox" name="type" id="check37" class="check-input">
                                                <label for="" class="check-label">Самка</label>
                                            </div>
                                            <div class="check">
                                                <input type="checkbox" name="type" id="check38" class="check-input">
                                                <label for="" class="check-label">Кастрированн/
                                                Стерилизированн</label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="sell-form-col">


                                        <div class="check">
                                            <input type="checkbox" name="price" id="check522" class="check-input">
                                            <label for="" class="check-label">Ожидается вознагрождение</label>
                                        </div>

                                        <div class="form--row">
                                            <span>Возраст</span>
                                            <label>
                                                от
                                                <input type="text" class="form-number" maxlength="2">
                                            </label>
                                            <label>
                                                до
                                                <input type="text" class="form-number" maxlength="2">
                                            </label>
                                            <p>месяцев</p>
                                        </div>

                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите окрас</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>

                                    </div>

                                    <div class="sell-form-col">
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите город</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <a href="#" class="add-region">+ добавить район</a>
                                        <div class="form-regions"></div>
                                    </div>
                                </div>


                                <button class="submit-form">
                                    НАЙТИ
                                </button>
                            </form>
                        </div>

                        <div class="tab-tabs">
                            <form id="sos-form-3" class="sell-form">

                                <div class="sell-form__row">
                                    <div class="sell-form-col">
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите вид животного</option>
                                            <option value="1">Кошка</option>
                                            <option value="2">Собака</option>
                                            <option value="3">Лошадь</option>
                                            <option value="4">Корова</option>
                                            <option value="5">Свинья</option>
                                        </select>
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите породу</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>

                                    </div>

                                    <div class="sell-form-col">

                                        <div class="form--row">
                                            <span>Возраст</span>
                                            <label>
                                                от
                                                <input type="text" class="form-number" maxlength="2">
                                            </label>
                                            <label>
                                                до
                                                <input type="text" class="form-number" maxlength="2">
                                            </label>
                                            <p>месяцев</p>
                                        </div>

                                    </div>

                                    <div class="sell-form-col">
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите город</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <a href="#" class="add-region">+ добавить район</a>
                                        <div class="form-regions"></div>
                                    </div>
                                </div>


                                <button class="submit-form">
                                    НАЙТИ
                                </button>
                            </form>
                        </div>

                        <div class="tab-tabs">
                            <form id="sos-form-4" class="sell-form">

                                <div class="sell-form__row">
                                    <div class="sell-form-col">
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите вид животного</option>
                                            <option value="1">Кошка</option>
                                            <option value="2">Собака</option>
                                            <option value="3">Лошадь</option>
                                            <option value="4">Корова</option>
                                            <option value="5">Свинья</option>
                                        </select>
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите породу</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>

                                        <div class="checks">
                                            <div class="check">
                                                <input type="checkbox" name="type" id="check66" class="check-input">
                                                <label for="" class="check-label">Самец</label>
                                            </div>
                                            <div class="check">
                                                <input type="checkbox" name="type" id="check67" class="check-input">
                                                <label for="" class="check-label">Самка</label>
                                            </div>
                                            <div class="check">
                                                <input type="checkbox" name="type" id="check68" class="check-input">
                                                <label for="" class="check-label">Кастрированн/
                                                Стерилизированн</label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="sell-form-col">

                                        <div class="form--row">
                                            <span>Возраст</span>
                                            <label>
                                                от
                                                <input type="text" class="form-number" maxlength="2">
                                            </label>
                                            <label>
                                                до
                                                <input type="text" class="form-number" maxlength="2">
                                            </label>
                                            <p>месяцев</p>
                                        </div>

                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите окрас</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>

                                    </div>

                                    <div class="sell-form-col">
                                        <select class="sell-select">
                                            <option value="0" disabled selected>Выберите город</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <a href="#" class="add-region">+ добавить район</a>
                                        <div class="form-regions"></div>
                                    </div>
                                </div>


                                <button class="submit-form">
                                    НАЙТИ
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="left-elems">
                        <div class="left-elem">предметы</div>
                        <div class="left-elem active">животные</div>
                    </div>

                </div>
            </div>

            <div class="products">
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
            </div>
        </div>
    </div>

    <div class="orange-bg">
        <div class="container">
            <div class="orange-bg-row">
                {{> product/pro-product }}
                {{> product/pro-product }}
                {{> product/pro-product }}
                {{> product/pro-product }}
            </div>
        </div>
    </div>

    <div class="white-bg">
        <div class="container">
            <div class="products">
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
            </div>
        </div>
    </div>

    <div class="violet-bg">
        <div class="container">
            <div class="violet-bg-title">
                <h3>Продукты</h3>
            </div>
            <div class="products">
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
            </div>
        </div>
    </div>

    <div class="white-bg white-p">
        <div class="container">
            <div class="pag">
                <a href="#" class="pag-link active">Prev</a>
                <a href="#" class="pag-link">1</a>
                <a href="#" class="pag-link">2</a>
                <a href="#" class="pag-link">3</a>
                <a href="#" class="pag-link active">4</a>
                <a href="#" class="pag-link">5</a>
                <a href="#" class="pag-link">6</a>
                <a href="#" class="pag-link">7</a>
                <a href="#" class="pag-link">8</a>
                <a href="#" class="pag-link active">Next</a>
            </div>
        </div>
    </div>

    {{> footer/footer }}

    {{> bottom/bottom }}
</body>

</html>