<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header }}

    <main class="main">
        <div class="container">
            <div class="main__block">
                <a href="/post.html" class="main__btn">
                    {{Icon iconName="header-icon2"}}
                    подать объявление
                </a>
            </div>
        </div>
    </main>

    <div class="white-bg">
        <div class="container">
            <div class="white-bg-row">
                <div class="white-bg-block">
                    <a href="#" class="search">
                        <img src="%=static=%img/general/search.png" alt="Поиск">
                        Поиск
                    </a>
                </div>

                <div class="navbar">
                    <a href="#">Главная</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">Объявление</a>
                </div>
            </div>

            <div class="products">
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
            </div>
        </div>
    </div>

    <div class="orange-bg">
        <div class="container">
            <div class="orange-bg-row">
                {{> product/pro-product }}
                {{> product/pro-product }}
                {{> product/pro-product }}
                {{> product/pro-product }}
            </div>
        </div>
    </div>

    <div class="white-bg">
        <div class="container">
            <div class="products">
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
                {{> product/sos-product }}
            </div>
        </div>
    </div>

    <div class="violet-bg">
        <div class="container">
            <div class="violet-bg-title">
                <h3>Продукты</h3>
            </div>
            <div class="products">
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
            </div>
        </div>
    </div>

    <div class="white-bg white-p">
        <div class="container">
            <div class="pag">
                <a href="#" class="pag-link active">Prev</a>
                <a href="#" class="pag-link">1</a>
                <a href="#" class="pag-link">2</a>
                <a href="#" class="pag-link">3</a>
                <a href="#" class="pag-link active">4</a>
                <a href="#" class="pag-link">5</a>
                <a href="#" class="pag-link">6</a>
                <a href="#" class="pag-link">7</a>
                <a href="#" class="pag-link">8</a>
                <a href="#" class="pag-link active">Next</a>
            </div>
        </div>
    </div>

    {{> footer/footer }}

    {{> bottom/bottom }}
</body>

</html>