<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<div class="kit">
		<div class="container">
			<div class="kit-wrapper">
				<div class="l-alert">
					<div class="l-alert_header l-alert_success">
						<h4 class="l-alert_header-title">Успешно</h4>
						<div class="l-alert_close">&times;</div>
					</div>
					<div class="l-alert_body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					</div>
				</div>	
			</div>

			<div class="kit-wrapper">
				<div class="l-alert">
					<div class="l-alert_header l-alert_error">
						<h4 class="l-alert_header-title">Ошибка</h4>
						<div class="l-alert_close">&times;</div>
					</div>
					<div class="l-alert_body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					</div>
				</div>	
			</div>

			<div class="kit-wrapper">
				<div class="l-alert">
					<div class="l-alert_header l-alert_info">
						<h4 class="l-alert_header-title">Информация</h4>
						<div class="l-alert_close">&times;</div>
					</div>
					<div class="l-alert_body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					</div>
				</div>	
			</div>

			<div class="kit-wrapper">
				<div class="l-alert l-alert_full">
					<div class="l-alert_header l-alert_panel">
						<h4 class="l-alert_header-title">Панель</h4>
					</div>
					<div class="l-alert_body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					</div>
				</div>	
			</div>

			<div class="kit-wrapper">
				<div class="l-alert l-alert_full">
					<div class="l-alert_header l-alert_info">
						<h4 class="l-alert_header-title">Панель</h4>
					</div>
					<div class="l-alert_body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					</div>
				</div>	
			</div>

			<div class="kit-wrapper">
				<div class="l-alert l-alert_full">
					<div class="l-alert_header l-alert_primary">
						<h4 class="l-alert_header-title">Панель</h4>
					</div>
					<div class="l-alert_body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					</div>
				</div>	
			</div>

			<div class="kit-wrapper">
				<div class="l-message l-message_primary">
					{{Icon iconName="bell"}}
					<p class="l-message_text">PRIMARY!  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-message l-message_info">
					{{Icon iconName="kit-info"}}
					<p class="l-message_text">INFO!  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-message l-message_success">
					{{Icon iconName="l-success"}}
					<p class="l-message_text">SUCCESS!  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-message l-message_warning">
					{{Icon iconName="l-warning"}}
					<p class="l-message_text">WARNING!  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-message l-message_error">
					{{Icon iconName="l-error"}}
					<p class="l-message_text">ERROR!  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-message l-message_help">
					{{Icon iconName="l-help"}}
					<p class="l-message_text">HELP!  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-danger">
					{{Icon iconName="red-danger"}}
					<p class="l-danger_text">WARNING!  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="kit-wrap">
					<label class="region-popup-label sm-label">
						<input type="radio" name="metro2" value="Метро2" class="region-popup-input" checked>
						<div class="form-regions-item">
							<span>+</span>
							<p>Абшерон</p>
						</div>
					</label>

					<label class="region-popup-label sm-label">
						<input type="radio" name="metro2" value="Метро2" class="region-popup-input">
						<div class="form-regions-item">
							<span>+</span>
							<p>Бинегеди</p>
						</div>
					</label>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-popup l-popup_success">
					<div class="l-popup_header">
						<h4 class="l-popup_header-title">Успешно</h4>
						<div class="l-popup_close">&times;</div>
					</div>
					<div class="l-popup_body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					</div>
					<div class="l-popup_buttons">
						<div class="l-popup_button l-popup_button-close">
							Close
						</div>
						<div class="l-popup_button l-popup_button-save">
							Save changes
						</div>
					</div>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-popup l-popup_error">
					<div class="l-popup_header">
						<h4 class="l-popup_header-title">Ошибка</h4>
						<div class="l-popup_close">&times;</div>
					</div>
					<div class="l-popup_body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					</div>
					<div class="l-popup_buttons">
						<div class="l-popup_button l-popup_button-close">
							Close
						</div>
						<div class="l-popup_button l-popup_button-save">
							Save changes
						</div>
					</div>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-popup l-popup_info">
					<div class="l-popup_header">
						<h4 class="l-popup_header-title">Ошибка</h4>
						<div class="l-popup_close">&times;</div>
					</div>
					<div class="l-popup_body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					</div>
					<div class="l-popup_buttons">
						<div class="l-popup_button l-popup_button-close">
							Close
						</div>
						<div class="l-popup_button l-popup_button-save">
							Save changes
						</div>
					</div>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-tooltip">
					<div class="l-tooltip_block">
						TOOLTIP
					</div>
					<div class="l-tooltip_hover l-tooltip_bottom l-tooltip_orange">
						TOOLTIP
					</div>
				</div>

				<div class="l-tooltip">
					<div class="l-tooltip_block">
						TOOLTIP
					</div>
					<div class="l-tooltip_hover l-tooltip_top l-tooltip_primary">
						TOOLTIP
					</div>
				</div>

				<div class="l-tooltip">
					<div class="l-tooltip_block">
						TOOLTIP
					</div>
					<div class="l-tooltip_hover l-tooltip_right l-tooltip_help">
						TOOLTIP
					</div>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-popupover l-popupover_help">
					<div class="l-popupover_close">
						&times;
					</div>
					<div class="l-popupover_text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					</div>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-popupover l-popupover_info">
					<div class="l-popupover_close">
						&times;
					</div>
					<div class="l-popupover_text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					</div>
				</div>
			</div>

			<div class="kit-wrapper">
				<div class="l-popupover l-popupover_primary">
					<div class="l-popupover_close">
						&times;
					</div>
					<div class="l-popupover_text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					</div>
				</div>
			</div>

			<div class="kit-wrapper">
				<a href="#" class="kit-link kit-link_orange">Кнопка</a>
				<a href="#" class="kit-link kit-link_transparent">Кнопка</a>
			</div>

			<div class="kit-wrapper">
				<select class="sell-select">
					<option value="0" disabled selected>Дропдаун</option>
					<option value="1">Кошка</option>
					<option value="2">Собака</option>
					<option value="3">Лошадь</option>
					<option value="4">Корова</option>
					<option value="5">Свинья</option>
				</select>
			</div>

			<div class="kit-wrapper">
				<label class="l-label">
					заполнение
					<input type="text" class="format l-input">
				</label>
			</div>

			<div class="kit-wrapper">
				<label class="l-checkbox">
					<input type="checkbox" class="l-checkbox_input">
					<span class="l-checkbox_span l-checkbox_orange">
						{{Icon iconName="kit-checked"}}
					</span>
					Чекбокс
				</label>
				<label class="l-checkbox">
					<input type="checkbox" class="l-checkbox_input">
					<span class="l-checkbox_span l-checkbox_primary">
						{{Icon iconName="kit-checked"}}
					</span>
					Чекбокс
				</label>
			</div>

			<div class="kit-wrapper">
				<label class="l-radio">
					<input type="radio" class="l-radio_input">
					<span class="l-radio_span l-radio_orange">
						<span class="l-radio_circle"></span>
					</span>
					Радио
				</label>
				<label class="l-radio">
					<input type="radio" class="l-radio_input">
					<span class="l-radio_span l-radio_primary">
						<span class="l-radio_circle"></span>
					</span>
					Радио
				</label>
			</div>

			<div class="kit-wrapper">
				<a href="#" class="add-region">+ добавить район</a>
			</div>

			<div class="kit-wrapper">
				<div class="pag">
					<a href="#" class="pag-link active">Prev</a>
					<a href="#" class="pag-link">1</a>
					<a href="#" class="pag-link">2</a>
					<a href="#" class="pag-link">3</a>
					<a href="#" class="pag-link active">4</a>
					<a href="#" class="pag-link">5</a>
					<a href="#" class="pag-link">6</a>
					<a href="#" class="pag-link">7</a>
					<a href="#" class="pag-link">8</a>
					<a href="#" class="pag-link active">Next</a>
				</div>
			</div>

		</div>
	</div>


	{{> bottom/bottom }}
</body>

</html>