<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header2 }}

    <div class="white-bg">
        <div class="container">
            <div class="white-bg-row">
                <div class="white-bg-block white-bg-block2">
                    <a href="#" class="search" id="openFilter">
                        <img src="%=static=%img/general/mini-search.png" alt="Поиск">
                        Поиск
                    </a>
                </div>

                <div class="navbar">
                    <a href="#">Главная</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">Справочная</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">Ветеринары</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">Клиника</a>
                </div>
            </div>

            {{> indexform/indexform}}

            <div class="klin">
                <div class="klin__items">
                    <div class="klin__left">
                        <div class="klin__header">
                            {{Icon iconName="phone"}}
                            <p>Контакты</p>
                        </div>
                        <a href="%=static=%img/general/prof.png" class="vet-fancy" data-fancybox="gallery">
                            <img src="%=static=%img/general/prof.png" alt="Клиника">
                        </a>
                        <div class="klin__body">
                            <div class="vet__item-params">
                                <a href="#">Клиника</a>
                                <div class="rating">
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                </div>
                            </div>
                            <a href="/vet.html" class="vet-link">Ветеринары</a>
                            <div class="klin__info">
                                {{Icon iconName="qplace"}}
                                <span>Баку. Проспект Нефтяников 151</span>
                            </div>
                            <div class="klin__info">
                                {{Icon iconName="qphone"}}
                                <a href="tel:994555431263">+994 55 543 12 63</a>
                            </div>
                            <div class="klin__info">
                                {{Icon iconName="qweb"}}
                                <a href="www.vetklinika.com">www.vetklinika.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="klin__right">
                        <div class="klin__header">
                            {{Icon iconName="al"}}
                            <p>О нас</p>
                        </div>
                        <div class="klin__more">
                            <div class="klin__desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="klin__serv">
                                <p>Услуги</p>
                                <div class="vet__item-tags">
                                    <div class="vet__item-tags-column">
                                        <span>вакцинация</span>
                                        <span>лечение</span>
                                        <span>стоматология</span>
                                        <span>груминг</span>
                                    </div>
                                    <div class="vet__item-tags-column">
                                        <span>вакцинация</span>
                                        <span>лечение</span>
                                        <span>стоматология</span>
                                        <span>груминг</span>
                                    </div>
                                    <div class="vet__item-tags-column">
                                        <span>вакцинация</span>
                                        <span>лечение</span>
                                        <span>стоматология</span>
                                        <span>груминг</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews">
                <div class="reviews__header">
                    <ul class="reviews__list">
                        <li class="reviews__item active">
                            {{Icon iconName="star"}}
                            Отзывы                            
                        </li>
                        <li class="reviews__item">
                            {{Icon iconName="quest"}}
                            Вопросы-ответы
                        </li>
                    </ul>
                </div>
                <div class="reviews__body active">
                    <div class="reviews__comment">
                        <div class="date">
                            5
                            <div class="month">Май</div> 
                            2018
                        </div>
                        <div class="reviews__circle">
                            <div>
                                <span></span>
                            </div>
                        </div>
                        <div class="comment">
                            <form action="#">
                                <div class="comment__header">
                                    <span class="author">Кафия Али</span>
                                </div>
                                <div class="comment__body">
                                    <div class="rating">
                                        {{Icon iconName="rating"}}
                                        {{Icon iconName="rating"}}
                                        {{Icon iconName="rating"}}
                                        {{Icon iconName="rating"}}
                                        {{Icon iconName="rating"}}
                                    </div>
                                    <textarea id="textarea" placeholder="Написать отзыв"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="reviews__comment">
                        <div class="date">
                            5
                            <div class="month">Май</div> 
                            2018
                        </div>
                        <div class="reviews__circle">
                            <div>
                                <span></span>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment__header">
                                <span class="author">Кафия Али</span>
                            </div>
                            <div class="comment__body comment-true">
                                <div class="rating">
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__comment">
                        <div class="date">
                            5
                            <div class="month">Май</div> 
                            2018
                        </div>
                        <div class="reviews__circle">
                            <div>
                                <span></span>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment__header">
                                <span class="author">Кафия Али</span>
                            </div>
                            <div class="comment__body comment-true">
                                <div class="rating">
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__body">
                    <!-- Контент для вкладки Вопросы-ответы -->
                    <!-- <div class="reviews__comment">
                        <div class="date">
                            5
                            <div class="month">Май</div> 
                            2018
                        </div>
                        <div class="reviews__circle">
                            <div>
                                <span></span>
                            </div>
                        </div>
                        <div class="comment">
                            <form action="#">
                                <div class="comment__header">
                                    <span class="author">Кафия Али</span>
                                </div>
                                <div class="comment__body">
                                    <div class="rating">
                                        {{Icon iconName="rating"}}
                                        {{Icon iconName="rating"}}
                                        {{Icon iconName="rating"}}
                                        {{Icon iconName="rating"}}
                                        {{Icon iconName="rating"}}
                                    </div>
                                    <textarea id="textarea" placeholder="Написать отзыв"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="reviews__comment">
                        <div class="date">
                            5
                            <div class="month">Май</div> 
                            2018
                        </div>
                        <div class="reviews__circle">
                            <div>
                                <span></span>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment__header">
                                <span class="author">Кафия Али</span>
                            </div>
                            <div class="comment__body comment-true">
                                <div class="rating">
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__comment">
                        <div class="date">
                            5
                            <div class="month">Май</div> 
                            2018
                        </div>
                        <div class="reviews__circle">
                            <div>
                                <span></span>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment__header">
                                <span class="author">Кафия Али</span>
                            </div>
                            <div class="comment__body comment-true">
                                <div class="rating">
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                    {{Icon iconName="rating"}}
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="products">
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
                {{> product/product }}
            </div>

        </div>



        <div class="white-p">
            <div class="container">
                <div class="pag">
                    <a href="#" class="pag-link active">Prev</a>
                    <a href="#" class="pag-link">1</a>
                    <a href="#" class="pag-link">2</a>
                    <a href="#" class="pag-link">3</a>
                    <a href="#" class="pag-link active">4</a>
                    <a href="#" class="pag-link">5</a>
                    <a href="#" class="pag-link">6</a>
                    <a href="#" class="pag-link">7</a>
                    <a href="#" class="pag-link">8</a>
                    <a href="#" class="pag-link active">Next</a>
                </div>
            </div>
        </div>
    </div>



    {{> footer/footer2 }}

    {{> bottom/bottom }}
</body>

</html>