<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header2 }}

    <div class="white-bg">
        <div class="container">
            <div class="white-bg-row">
                <div class="white-bg-block white-bg-block2">
                    <a href="#" class="search" id="openFilter">
                        <img src="%=static=%img/general/mini-search.png" alt="Поиск">
                        Поиск
                    </a>
                </div>

                <div class="navbar">
                    <a href="#">Главная</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">Объявление</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">СОС/Пропала</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">Обв. 12345678</a>
                </div>
            </div>
            
            {{> indexform/indexform}}

            <div class="obv">
                <div class="obv__items">
                    <div class="obv__left">
                        <div class="obv__left-item">
                            <div class="obv__left-header">
                                {{Icon iconName="coin"}}
                                <p>бесплатно</p>
                            </div>
                            <div class="obv__left-body">
                                <a href="%=static=%img/general/cat.png" class="vet-fancy" data-fancybox="gallery">
                                    <img src="%=static=%img/general/cat.png" alt="Кот">
                                </a>
                                <div class="body-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis  ex ea commodo elit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis  ex ea commodo
                                </div>
                                <div class="abs-img">
                                    {{Icon iconName="absimg"}}
                                </div>
                            </div>
                        </div>

                        <div class="obv__social">
                            <a href="#">
                                {{Icon iconName="obvface"}}
                            </a>
                            <a href="#">
                                {{Icon iconName="obvvk"}}
                            </a>
                            <a href="#">
                                {{Icon iconName="obvplus"}}
                            </a>
                            <a href="#">
                                {{Icon iconName="obvok"}}
                            </a>
                        </div>

                        <div class="obv__comments">
                            <div class="obv__comment">
                                <div class="date">
                                    5
                                    <div class="month">Май</div> 
                                    2018
                                </div>
                                <div class="reviews__circle">
                                    <div>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="comment">
                                    <form action="#">
                                        <div class="comment__header">
                                            {{Icon iconName="quest"}}
                                            <span class="author">Кафия Али</span>
                                            <span class="commit">Коментарии</span>
                                        </div>
                                        <div class="comment__body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="obv__comment obv__subcomment">
                                <div class="date">
                                    5
                                    <div class="month">Май</div> 
                                    2018
                                </div>
                                <div class="reviews__circle">
                                    <div>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="comment">
                                    <form action="#">
                                        <div class="comment__header">
                                            <span class="author">Кафия Али</span>
                                        </div>
                                        <div class="comment__body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                            <a href="#" class="reply">Ответить</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="obv__comment obv__subcomment">
                                <div class="date">
                                    5
                                    <div class="month">Май</div> 
                                    2018
                                </div>
                                <div class="reviews__circle">
                                    <div>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="comment">
                                    <form action="#">
                                        <div class="comment__header">
                                            <span class="author">Кафия Али</span>
                                        </div>
                                        <div class="comment__body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                            <a href="#" class="reply">Ответить</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="obv__mini">
                                <div class="obv__mini-header">
                                    <span class="author">Кафия Али</span>
                                </div>
                                <div class="obv__mini-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="obv__right">
                        <div class="obv__right-item">
                            <div class="obv__right-header">
                                {{Icon iconName="lap2"}}
                                <p>Основная информация</p>
                            </div>
                            <div class="obv__right-body">
                                <div class="body--item">
                                    <p>Вид:</p>
                                    <span>Котенок</span>
                                </div>
                                <div class="body--item">
                                    <p>Порода:</p>
                                    <span>Шотландская вислоухая</span>
                                </div>
                                <div class="body--item">
                                    <p>Раздел:</p>
                                    <span>СОС/Пропала</span>
                                </div>
                                <div class="body--item">
                                    <p>Пол:</p>
                                    <span>Самец</span>
                                </div>
                                <div class="body--item">
                                    <p>Вораст:</p>
                                    <span>3 месяца</span>
                                </div>
                                <div class="body--item">
                                    <p>Место рождения:</p>
                                    <span>Баку</span>
                                </div>
                            </div>
                        </div>

                        <div class="obv__right-item">
                            <div class="obv__right-header">
                                {{Icon iconName="palette"}}
                                <p>Окрас</p>
                            </div>
                            <div class="obv__right-body">
                                <div class="body--item">
                                    <div class="color">
                                        <span class="color-orange"></span>
                                        Рыжий
                                    </div>
                                    <div class="color">
                                        <span class="color-black"></span>
                                        Черный
                                    </div>
                                    <div class="color">
                                        <span class="color-black"></span>
                                        Черный
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="obv__right-item">
                            <div class="obv__right-header">
                                {{Icon iconName="more"}}
                                <p>Дополнительная информация</p>
                            </div>
                            <div class="obv__right-body">
                                <div class="body--item">
                                    <p>Вес:</p>
                                    <span>100 гр</span>
                                </div>
                                <div class="body--item">
                                    <p>Длина:</p>
                                    <span>10 см</span>
                                </div>
                                <div class="body--item">
                                    <p>Высота:</p>
                                    <span>5 см</span>
                                </div>
                            </div>
                        </div>

                        <div class="obv__right-item">
                            <div class="obv__right-header">
                                {{Icon iconName="info-button"}}
                                <p>Информация об объявлении</p>
                            </div>
                            <div class="obv__right-body">
                                <div class="body--item">
                                    <p>Дата:</p>
                                    <span>30.05.18<span>
                                    </div>
                                    <div class="body--item">
                                        <p>Просмотров:</p>
                                        <span>1000</span>
                                    </div>
                                    <div class="body--item">
                                        <p>ID:</p>
                                        <span>123456778</span>
                                    </div>
                                </div>
                            </div>

                            <div class="obv__right-item">
                                <div class="obv__right-header">
                                    {{Icon iconName="phone-symbol"}}
                                    <p>Контакты</p>
                                </div>
                                <div class="obv__right-body">
                                    <div class="body--item">
                                        <p>Телефон:</p>
                                        <a href="tel:+994555431263">+994 55 543 12 63</a>
                                    </div>
                                    <div class="body--item">
                                        <p>Имя:</p>
                                        <span>Кафия Али</span>
                                    </div>
                                    <div class="body--item">
                                        <p>Город:</p>
                                        <span>Баку</span>
                                    </div>
                                    <div class="body--item">
                                        <p>E-mail:</p>
                                        <a href="mailto:93kafiya@gmail.com">93kafiya@gmail.com</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{> footer/footer2 }}

        {{> bottom/bottom }}
    </body>

    </html>