<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header2 }}

    <div class="white-bg">
        <div class="container">
            <div class="white-bg-row">
                <div class="white-bg-block white-bg-block2">
                    <a href="#" class="search" id="openFilter">
                        <img src="%=static=%img/general/mini-search.png" alt="Поиск">
                        Поиск
                    </a>
                    
                    <div class="sort-sel">
                        <select id="sort">
                            <option value="1">Сортировать по алфавиту</option>
                            <option value="2">Сортировать по </option>
                            <option value="3">Сортировать по </option>
                        </select>
                    </div>
                </div>

                <div class="navbar">
                    <a href="#">Главная</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">Объявления</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">СОС/Грозит отстрел</a>
                </div>
            </div>

            {{> indexform/indexform}}

            <div class="res__items">
                {{> res/res }}
                {{> res/res }}
                {{> res/res }}
                {{> res/res }}
                {{> res/res }}
                {{> res/res }}
                {{> res/res }}
            </div>

        </div>
    </div>

    
    <div class="white-bg white-p">
        <div class="container">
            <div class="pag">
                <a href="#" class="pag-link active">Prev</a>
                <a href="#" class="pag-link">1</a>
                <a href="#" class="pag-link">2</a>
                <a href="#" class="pag-link">3</a>
                <a href="#" class="pag-link active">4</a>
                <a href="#" class="pag-link">5</a>
                <a href="#" class="pag-link">6</a>
                <a href="#" class="pag-link">7</a>
                <a href="#" class="pag-link">8</a>
                <a href="#" class="pag-link active">Next</a>
            </div>
        </div>
    </div>


    {{> footer/footer2 }}

    {{> bottom/bottom }}
</body>

</html>