<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header2 }}

    <div class="white-bg">
        <div class="container">
            <div class="white-bg-row">
                <div class="white-bg-block white-bg-block2">
                    <a href="#" class="search" id="openFilter">
                        <img src="%=static=%img/general/mini-search.png" alt="Поиск">
                        Поиск
                    </a>
                    
                    <div class="sort-sel">
                        <select id="sort">
                            <option value="1">Сортировать по алфавиту</option>
                            <option value="2">Сортировать по </option>
                            <option value="3">Сортировать по </option>
                        </select>
                    </div>
                </div>

                <div class="navbar">
                    <a href="#">Главная</a>
                    {{Icon iconName="chevron-right"}}
                    <a href="#">Справочная</a>
                </div>
            </div>

            {{> indexform/indexform}}

            <div class="spr__items">
                <a href="/result.html" class="spr__item">
                    <div>
                        <img src="%=static=%img/general/spr/1.png" alt="Справочная">
                        <div class="hover-result">
                            <span>Кинологи</span>
                            <span>20 результатов</span>
                        </div>
                    </div>
                </a>
                <a href="/result.html" class="spr__item">
                    <div>
                        <img src="%=static=%img/general/spr/2.png" alt="Справочная">
                        <div class="hover-result">
                            <span>Кинологи</span>
                            <span>20 результатов</span>
                        </div>
                    </div>
                </a>
                <a href="/result.html" class="spr__item">
                    <div>
                        <img src="%=static=%img/general/spr/3.png" alt="Справочная">
                        <div class="hover-result">
                            <span>Кинологи</span>
                            <span>20 результатов</span>
                        </div>
                    </div>
                </a>
                <a href="/result.html" class="spr__item">
                    <div>
                        <img src="%=static=%img/general/spr/1.png" alt="Справочная">
                        <div class="hover-result">
                            <span>Кинологи</span>
                            <span>20 результатов</span>
                        </div>
                    </div>
                </a>
                <a href="/result.html" class="spr__item">
                    <div>
                        <img src="%=static=%img/general/spr/2.png" alt="Справочная">
                        <div class="hover-result">
                            <span>Кинологи</span>
                            <span>20 результатов</span>
                        </div>
                    </div>
                </a>
                <a href="/result.html" class="spr__item">
                    <div>
                        <img src="%=static=%img/general/spr/3.png" alt="Справочная">
                        <div class="hover-result">
                            <span>Кинологи</span>
                            <span>20 результатов</span>
                        </div>
                    </div>
                </a>
                <a href="/result.html" class="spr__item">
                    <div>
                        <img src="%=static=%img/general/spr/1.png" alt="Справочная">
                        <div class="hover-result">
                            <span>Кинологи</span>
                            <span>20 результатов</span>
                        </div>
                    </div>
                </a>
                <a href="/result.html" class="spr__item">
                    <div>
                        <img src="%=static=%img/general/spr/2.png" alt="Справочная">
                        <div class="hover-result">
                            <span>Кинологи</span>
                            <span>20 результатов</span>
                        </div>
                    </div>
                </a>
                <a href="/result.html" class="spr__item">
                    <div>
                        <img src="%=static=%img/general/spr/3.png" alt="Справочная">
                        <div class="hover-result">
                            <span>Кинологи</span>
                            <span>20 результатов</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {{> footer/footer2 }}

    {{> bottom/bottom }}
</body>

</html>