<div class="vet__item">
    <img src="%=static=%img/general/vet.png" alt="Ветеринары" class="vet__item-img">
    <div class="vet__item-info">
        <div class="vet__item-params">
            <a href="/klinika.html">Клиника</a>
            <div class="rating">
                {{Icon iconName="rating"}}
                {{Icon iconName="rating"}}
                {{Icon iconName="rating"}}
                {{Icon iconName="rating"}}
                {{Icon iconName="rating"}}
            </div>
        </div>
        <div class="vet__item-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="vet__item-tags">
            <span>вакцинация</span>
            <span>лечение</span>
            <span>стоматология</span>
            <span>груминг</span>
        </div>
        <div class="vet__item-params2">
            <div class="vet__item-place">
                {{Icon iconName="place"}}
                <p>Баку</p>
            </div>
            <a href="/klinika.html" class="vet-link">Ветеринары</a>
        </div>
    </div>
</div>