<footer class="footer footer2">

	<div class="footer-top">
		<div class="container">
			<div class="footer-row">
				<div class="footer-logo">
					<a href="/">
						<img src="%=static=%img/general/logo.png" alt="Главная">
					</a>
				</div>
				<div class="footer-col">
					<a href="#" class="footer-link under-link">информация</a>
					<a href="#" class="footer-link">О нас</a>
					<a href="#" class="footer-link">Контакты</a>
					<a href="#" class="footer-link">Банерная реклама</a>
				</div>
				<div class="footer-col">
					<a href="#" class="footer-link under-link">Помощь</a>
					<a href="#" class="footer-link">Политика Безопасности</a>
					<a href="#" class="footer-link">Условия Соглашения</a>
					<a href="#" class="footer-link">FAQ</a>
				</div>
				<div class="footer-right">
					<a href="#" class="footer-link under-link">подписка</a>
					<span>Подпишитесь на наши обновления</span>
					<form class="footer-form">
						<input type="text" placeholder="Ваш e-mail">
						<button class="submit">Подписаться</button>
					</form>

					<div class="footer-social">
						<a href="#" class="social-link" target="_blank">
							{{Icon iconName="face"}}
						</a>
						<a href="#" class="social-link" target="_blank">
							{{Icon iconName="insta"}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-copy">
		<div class="container">
			<div class="footer-sb">
				<span>JIRAF.AZ. Copyright 2018</span>
				<div class="footer-sb-items">
					<span>Язык</span>
					{{Icon iconName="header-icon1"}}
				</div>

				
				<div class="change--lang">
					<a href="#" class="change--lang-item">
						{{Icon iconName="az"}}
						Azerbaijan dili
					</a>
					<a href="#" class="change--lang-item">
						{{Icon iconName="ru"}}
						Русский язык
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-img">
		<img src="%=static=%img/general/footer-img.png" alt="Жираф">
	</div>

</footer>