<div class="overlay"></div>
<div class="popup">
	<div class="popup__header">
		<ul class="popup__list">
			<li class="popup__item active">
				{{Icon iconName="join"}}
				Войти
			</li>
			<li class="popup__item">
				{{Icon iconName="reg"}}
				Регистрация
			</li>
			<li class="popup__item">
				{{Icon iconName="key"}}
				Забыли пароль?
			</li>
		</ul>
	</div>

	<div class="popup__body active">
		<form class="popup-form" id="popupForm" autocomplete="off">
			<label class="popup-label">
				{{Icon iconName="or-user"}}
				<div class="popup-div">
					<input type="text" name="name" class="popup-input">
					<span class="popup-span">Имя</span>
				</div>
			</label>
			<label class="popup-label">
				{{Icon iconName="pass"}}
				<div class="popup-div">
					<input type="password" name="password" class="popup-input">
					<span class="popup-span">Пароль</span>
				</div>
			</label>
			<div class="popup-submit">
				<div class="popup-check">
					<input type="checkbox" id="remember">
					<label for="remember">Запомнить меня</label>
				</div>
				<button type="submit" id="popupFormbtn">Войти</button>
			</div>

			<div class="popup-social">
				<span>Войти через</span>
				<div class="popup-s">
					<a href="#" class="soc facebook">
						{{Icon iconName="p-face"}}
						facebook
					</a>
					<a href="#" class="soc twitter">
						{{Icon iconName="p-twit"}}
						twitter
					</a>
					<a href="#" class="soc google">
						{{Icon iconName="p-plus"}}
						google
					</a>
				</div>
			</div>
		</form>
	</div>

	<div class="popup__body">
		<form class="popup-form" id="registerForm" autocomplete="off">
			<label class="popup-label">
				{{Icon iconName="or-user"}}
				<div class="popup-div">
					<input type="text" name="name" class="popup-input">
					<span class="popup-span">Имя</span>
				</div>
			</label>
			<label class="popup-label">
				{{Icon iconName="or-mail"}}
				<div class="popup-div">
					<input type="text" name="mail" class="popup-input" >
					<span class="popup-span">Почта</span>
				</div>
			</label>
			<label class="popup-label">
				{{Icon iconName="pass"}}
				<div class="popup-div">
					<input type="password" name="password" id="password" class="popup-input" >
					<span class="popup-span">Пароль</span>
				</div>
			</label>
			<label class="popup-label">
				{{Icon iconName="pass"}}
				<div class="popup-div">
					<input type="password" name="repassword" class="popup-input" >
					<span class="popup-span">Повторите пароль</span>
				</div>
			</label>
			<button type="submit" class="reg-btn">Регистрация</button>
		</form>
	</div>

	<div class="popup__body">
		<form class="popup-form" id="reesForm" autocomplete="off">
			<label class="popup-label">
				{{Icon iconName="or-user"}}
				<div class="popup-div">
					<input type="text" name="name" class="popup-input">
					<span class="popup-span">Имя</span>
				</div>
			</label>
			<label class="popup-label">
				{{Icon iconName="or-mail"}}
				<div class="popup-div">
					<input type="text" name="mail" class="popup-input">
					<span class="popup-span">Почта</span>
				</div>
			</label>
			<button type="submit" class="reg-btn">Восстановить пароль</button>
		</form>
	</div>
</div>

<div class="region-popup">
	<div class="region-popup-row">

		<div class="region-popup-col">
			<span class="region-title">Район</span>

			<label class="region-popup-label">
				<input type="radio" name="region" value="Абшерон" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Абшерон</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="region" value="Абшерон1" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Абшерон1</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="region" value="Абшерон2" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Абшерон2</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="region" value="Абшерон3" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Абшерон3</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="region" value="Абшерон4" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Абшерон4</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="region" value="Абшерон5" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Абшерон5</p>
				</div>
			</label>

		</div>

		<div class="region-popup-col">
			<span class="region-title">Метро</span>

			<label class="region-popup-label">
				<input type="radio" name="metro" value="Метро" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro" value="Метро1" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро1</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro" value="Метро2" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро2</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro" value="Метро3" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро3</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro" value="Метро4" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро4</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro" value="Метро5" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро5</p>
				</div>
			</label>

		</div>

		<div class="region-popup-col">
			<span class="region-title">Метро</span>

			<label class="region-popup-label">
				<input type="radio" name="metro1" value="Метро6" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро6</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro1" value="Метро7" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро7</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro1" value="Метро8" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро8</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro1" value="Метро9" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро9</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro1" value="Метро10" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро10</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro1" value="Метро11" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро11</p>
				</div>
			</label>

		</div>

		<div class="region-popup-col">
			<span class="region-title">Метро</span>

			<label class="region-popup-label">
				<input type="radio" name="metro2" value="Метро12" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро12</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro2" value="Метро13" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро13</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro2" value="Метро14" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро14</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro2" value="Метро15" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро15</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro2" value="Метро16" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро16</p>
				</div>
			</label>

			<label class="region-popup-label">
				<input type="radio" name="metro2" value="Метро17" class="region-popup-input">
				<div class="form-regions-item">
					<span>+</span>
					<p>Метро17</p>
				</div>
			</label>

		</div>
	</div>
	<button type="submit" class="region-popup-btn">применить</button>
</div>

<div class="clr-overlay"></div>
<div class="clr-pick">
	<div class="clr-close">&times;</div>
	<div class="clr-pick-col">
		<div class="color">
			<span class="color-orange"></span>
			Рыжий
		</div>
		<div class="color">
			<span class="color-black"></span>
			Черный
		</div>
		<div class="color">
			<span class="color-brown"></span>
			Коричневый
		</div>
		<div class="color">
			<span class="color-blue"></span>
			Синий
		</div>
		<div class="color">
			<span class="color-yellow"></span>
			Желтый
		</div>
		<div class="color">
			<span class="color-orange"></span>
			Рыжий
		</div>
		<div class="color">
			<span class="color-black"></span>
			Черный
		</div>
		<div class="color">
			<span class="color-brown"></span>
			Коричневый
		</div>
		<div class="color">
			<span class="color-blue"></span>
			Синий
		</div>
		<div class="color">
			<span class="color-yellow"></span>
			Желтый
		</div>
		<div class="color">
			<span class="color-orange"></span>
			Рыжий
		</div>
		<div class="color">
			<span class="color-black"></span>
			Черный
		</div>
		<div class="color">
			<span class="color-brown"></span>
			Коричневый
		</div>
		<div class="color">
			<span class="color-blue"></span>
			Синий
		</div>
		<div class="color">
			<span class="color-yellow"></span>
			Желтый
		</div>
	</div>
	<div class="clr-pick-col">
		<div class="color">
			<span class="color-orange"></span>
			Рыжий
		</div>
		<div class="color">
			<span class="color-black"></span>
			Черный
		</div>
		<div class="color">
			<span class="color-brown"></span>
			Коричневый
		</div>
		<div class="color">
			<span class="color-blue"></span>
			Синий
		</div>
		<div class="color">
			<span class="color-yellow"></span>
			Желтый
		</div>
		<div class="color">
			<span class="color-orange"></span>
			Рыжий
		</div>
		<div class="color">
			<span class="color-black"></span>
			Черный
		</div>
		<div class="color">
			<span class="color-brown"></span>
			Коричневый
		</div>
		<div class="color">
			<span class="color-blue"></span>
			Синий
		</div>
		<div class="color">
			<span class="color-yellow"></span>
			Желтый
		</div>
		<div class="color">
			<span class="color-orange"></span>
			Рыжий
		</div>
		<div class="color">
			<span class="color-black"></span>
			Черный
		</div>
		<div class="color">
			<span class="color-brown"></span>
			Коричневый
		</div>
		<div class="color">
			<span class="color-blue"></span>
			Синий
		</div>
		<div class="color">
			<span class="color-yellow"></span>
			Желтый
		</div>
	</div>
</div>



<div class="ajax-helper">
	<div class="ajax-helper-header">
		<div class="ajax-helper-status">404</div>
		<div class="ajax-helper-close">&times;</div>
	</div>
	<div class="ajax-helper-text">Ваша заявка принята</div>
</div>