<div class="index-form hide">
    <div class="index-form-header">
        <ul class="index-form-list">
            <li class="index-form-item active">
                {{Icon iconName="sell"}}
                Продам/отдам
            </li>
            <li class="index-form-item">
                {{Icon iconName="buy"}}
                Куплю/Приму
            </li>
            <li class="index-form-item">
                {{Icon iconName="lap"}}
                Вязка
            </li>
            <li class="index-form-item">
                {{Icon iconName="sos-one"}}
                Сос
            </li>
        </ul>
    </div>
    <div class="index-form-body">

        <div class="index-form-content active">
            <!-- Контент для Продам/отдам -->
            <form id="sell-form" class="sell-form">
                <div class="sell-form__row">
                    <div class="sell-form-col">
                        <select class="sell-select">
                            <option value="0" disabled selected>Выберите вид животного</option>
                            <option value="1">Кошка</option>
                            <option value="2">Собака</option>
                            <option value="3">Лошадь</option>
                            <option value="4">Корова</option>
                            <option value="5">Свинья</option>
                        </select>
                        <select class="sell-select">
                            <option value="1" disabled selected>Выберите породу</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

                        <div class="checks">
                            <div class="check">
                                <input type="radio" name="type" id="check1" class="check-input">
                                <label for="" class="check-label">Самец</label>
                            </div>
                            <div class="check">
                                <input type="radio" name="type" id="check2" class="check-input">
                                <label for="" class="check-label">Самка</label>
                            </div>
                            <div class="check">
                                <input type="checkbox" name="type" id="check3" class="check-input">
                                <label for="" class="check-label">Кастрированн/
                                Стерилизированн</label>
                            </div>
                        </div>

                    </div>

                    <div class="sell-form-col">
                        <div class="form--row">
                            <span>Цена</span>
                            <label>
                                от
                                <input type="text" class="format">
                            </label>
                            <label>
                                до
                                <input type="text" class="format">
                            </label>
                            <p>AZN</p>
                        </div>

                        <div class="check check-right">
                            <input type="radio" name="price" id="check4" class="check-input">
                            <label for="" class="check-label">договорная цена</label>
                        </div>

                        <div class="form--row">
                            <span>Возраст</span>
                            <label>
                                от
                                <input type="text" class="form-number" maxlength="2">
                            </label>
                            <label>
                                до
                                <input type="text" class="form-number" maxlength="2">
                            </label>
                            <p>месяцев</p>
                        </div>

                        <select class="sell-select">
                            <option value="1" disabled selected>Выберите место рождения</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <select class="sell-select">
                            <option value="1" disabled selected>Выберите окрас</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

                    </div>

                    <div class="sell-form-col">
                        <select class="sell-select">
                            <option value="1" disabled selected>Выберите город</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a href="#" class="add-region">+ добавить район</a>

                        <div class="form-regions">
                            
                        </div>
                    </div>
                </div>


                <button class="submit-form">
                    НАЙТИ
                </button>

            </form>

        </div>

        <div class="index-form-content">
            <!-- Контент для Куплю/приму -->
            <form id="buy-form" class="sell-form">
                <div class="sell-form__row">
                    <div class="sell-form-col">
                        <select class="sell-select">
                            <option value="0" disabled selected>Выберите вид животного</option>
                            <option value="1">Кошка</option>
                            <option value="2">Собака</option>
                            <option value="3">Лошадь</option>
                            <option value="4">Корова</option>
                            <option value="5">Свинья</option>
                        </select>
                        <select class="sell-select">
                            <option value="1">Выберите породу</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

                        <div class="checks">
                            <div class="check">
                                <input type="radio" name="type" id="check21" class="check-input">
                                <label for="" class="check-label">Самец</label>
                            </div>
                            <div class="check">
                                <input type="radio" name="type" id="check22" class="check-input">
                                <label for="" class="check-label">Самка</label>
                            </div>
                            <div class="check">
                                <input type="radio" name="type" id="check23" class="check-input">
                                <label for="" class="check-label">Кастрированн/
                                Стерилизированн</label>
                            </div>
                        </div>

                    </div>

                    <div class="sell-form-col">
                        <div class="form--row">
                            <span>Цена</span>
                            <label>
                                от
                                <input type="text" class="format">
                            </label>
                            <label>
                                до
                                <input type="text" class="format">
                            </label>
                            <p>AZN</p>
                        </div>

                        <div class="check check-right">
                            <input type="radio" name="price" id="check40" class="check-input">
                            <label for="" class="check-label">договорная цена</label>
                        </div>

                        <div class="form--row">
                            <span>Возраст</span>
                            <label>
                                от
                                <input type="text" class="form-number" maxlength="2">
                            </label>
                            <label>
                                до
                                <input type="text" class="form-number" maxlength="2">
                            </label>
                            <p>месяцев</p>
                        </div>

                        <select class="sell-select">
                            <option value="1">Выберите место рождения</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <select class="sell-select">
                            <option value="1">Выберите окрас</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

                    </div>

                    <div class="sell-form-col">
                        <select class="sell-select">
                            <option value="1">Выберите город</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a href="#" class="add-region">+ добавить район</a>
                    </div>
                </div>


                <button class="submit-form">
                    НАЙТИ
                </button>

            </form>
        </div>
        <div class="index-form-content">
            <!-- Контент для вязка -->
            <form id="vyaz-form" class="sell-form">
                <div class="sell-form__row">
                    <div class="sell-form-col">
                        <select class="sell-select">
                            <option value="0" disabled selected>Выберите вид животного</option>
                            <option value="1">Кошка</option>
                            <option value="2">Собака</option>
                            <option value="3">Лошадь</option>
                            <option value="4">Корова</option>
                            <option value="5">Свинья</option>
                        </select>
                        <select class="sell-select">
                            <option value="1">Выберите породу</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

                        <div class="checks">
                            <div class="check">
                                <input type="radio" name="type" id="check10" class="check-input">
                                <label for="" class="check-label">Самец</label>
                            </div>
                            <div class="check">
                                <input type="radio" name="type" id="check11" class="check-input">
                                <label for="" class="check-label">Самка</label>
                            </div>
                            <div class="check">
                                <input type="radio" name="type" id="check12" class="check-input">
                                <label for="" class="check-label">Кастрированн/
                                Стерилизированн</label>
                            </div>
                        </div>

                    </div>

                    <div class="sell-form-col">
                        <div class="form--row">
                            <span>Цена</span>
                            <label>
                                от
                                <input type="text" class="format">
                            </label>
                            <label>
                                до
                                <input type="text" class="format">
                            </label>
                            <p>AZN</p>
                        </div>

                        <div class="check check-right">
                            <input type="radio" name="price" id="check41" class="check-input">
                            <label for="" class="check-label">договорная цена</label>
                        </div>

                        <div class="form--row">
                            <span>Возраст</span>
                            <label>
                                от
                                <input type="text" class="form-number" maxlength="2">
                            </label>
                            <label>
                                до
                                <input type="text" class="form-number" maxlength="2">
                            </label>
                            <p>месяцев</p>
                        </div>

                        <select class="sell-select">
                            <option value="1">Выберите место рождения</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <select class="sell-select">
                            <option value="1">Выберите окрас</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

                    </div>

                    <div class="sell-form-col">
                        <select class="sell-select">
                            <option value="1">Выберите город</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a href="#" class="add-region">+ добавить район</a>
                    </div>
                </div>


                <button class="submit-form">
                    НАЙТИ
                </button>

            </form>
        </div>

        <div class="index-form-content sos-form-content">
            <!-- Контент для вкладки СОС -->
            <div class="sell-form__row">
                <ul class="sos-list">
                    <li class="sos-item active">Пропала</li>
                    <li class="sos-item">Нашлась</li>
                    <li class="sos-item">Грозит отстрел</li>
                    <li class="sos-item">Нужна помощь</li>
                </ul>
            </div>
            <div class="tab-tabs active">

                <form id="sos-form-1" class="sell-form">

                    <div class="sell-form__row">
                        <div class="sell-form-col">
                            <select class="sell-select">
                                <option value="0" disabled selected>Выберите вид животного</option>
                                <option value="1">Кошка</option>
                                <option value="2">Собака</option>
                                <option value="3">Лошадь</option>
                                <option value="4">Корова</option>
                                <option value="5">Свинья</option>
                            </select>
                            <select class="sell-select">
                                <option value="1">Выберите породу</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                            <div class="checks">
                                <div class="check">
                                    <input type="radio" name="type" id="check6" class="check-input">
                                    <label for="" class="check-label">Самец</label>
                                </div>
                                <div class="check">
                                    <input type="radio" name="type" id="check7" class="check-input">
                                    <label for="" class="check-label">Самка</label>
                                </div>
                                <div class="check">
                                    <input type="radio" name="type" id="check8" class="check-input">
                                    <label for="" class="check-label">Кастрированн/
                                    Стерилизированн</label>
                                </div>
                            </div>

                        </div>

                        <div class="sell-form-col">


                            <div class="check">
                                <input type="radio" name="price" id="check5" class="check-input">
                                <label for="" class="check-label">Ожидается вознагрождение</label>
                            </div>

                            <div class="form--row">
                                <span>Возраст</span>
                                <label>
                                    от
                                    <input type="text" class="form-number" maxlength="2">
                                </label>
                                <label>
                                    до
                                    <input type="text" class="form-number" maxlength="2">
                                </label>
                                <p>месяцев</p>
                            </div>

                            <select class="sell-select">
                                <option value="1">Выберите окрас</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                        </div>

                        <div class="sell-form-col">
                            <select class="sell-select">
                                <option value="1">Выберите город</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="add-region">+ добавить район</a>
                        </div>
                    </div>


                    <button class="submit-form">
                        НАЙТИ
                    </button>
                </form>
            </div>

            <div class="tab-tabs">

                <form id="sos-form-2" class="sell-form">

                    <div class="sell-form__row">
                        <div class="sell-form-col">
                            <select class="sell-select">
                                <option value="0" disabled selected>Выберите вид животного</option>
                                <option value="1">Кошка</option>
                                <option value="2">Собака</option>
                                <option value="3">Лошадь</option>
                                <option value="4">Корова</option>
                                <option value="5">Свинья</option>
                            </select>
                            <select class="sell-select">
                                <option value="1">Выберите породу</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                            <div class="checks">
                                <div class="check">
                                    <input type="radio" name="type" id="check36" class="check-input">
                                    <label for="" class="check-label">Самец</label>
                                </div>
                                <div class="check">
                                    <input type="radio" name="type" id="check37" class="check-input">
                                    <label for="" class="check-label">Самка</label>
                                </div>
                                <div class="check">
                                    <input type="radio" name="type" id="check38" class="check-input">
                                    <label for="" class="check-label">Кастрированн/
                                    Стерилизированн</label>
                                </div>
                            </div>

                        </div>

                        <div class="sell-form-col">


                            <div class="check">
                                <input type="radio" name="price" id="check5" class="check-input">
                                <label for="" class="check-label">Ожидается вознагрождение</label>
                            </div>

                            <div class="form--row">
                                <span>Возраст</span>
                                <label>
                                    от
                                    <input type="text" class="form-number" maxlength="2">
                                </label>
                                <label>
                                    до
                                    <input type="text" class="form-number" maxlength="2">
                                </label>
                                <p>месяцев</p>
                            </div>

                            <select class="sell-select">
                                <option value="1">Выберите окрас</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                        </div>

                        <div class="sell-form-col">
                            <select class="sell-select">
                                <option value="1">Выберите город</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="add-region">+ добавить район</a>
                        </div>
                    </div>


                    <button class="submit-form">
                        НАЙТИ
                    </button>
                </form>
            </div>

            <div class="tab-tabs">
                <form id="sos-form-3" class="sell-form">

                    <div class="sell-form__row">
                        <div class="sell-form-col">
                            <select class="sell-select">
                                <option value="0" disabled selected>Выберите вид животного</option>
                                <option value="1">Кошка</option>
                                <option value="2">Собака</option>
                                <option value="3">Лошадь</option>
                                <option value="4">Корова</option>
                                <option value="5">Свинья</option>
                            </select>
                            <select class="sell-select">
                                <option value="1">Выберите породу</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                        </div>

                        <div class="sell-form-col">

                            <div class="form--row">
                                <span>Возраст</span>
                                <label>
                                    от
                                    <input type="text" class="form-number" maxlength="2">
                                </label>
                                <label>
                                    до
                                    <input type="text" class="form-number" maxlength="2">
                                </label>
                                <p>месяцев</p>
                            </div>

                        </div>

                        <div class="sell-form-col">
                            <select class="sell-select">
                                <option value="1">Выберите город</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="add-region">+ добавить район</a>
                        </div>
                    </div>


                    <button class="submit-form">
                        НАЙТИ
                    </button>
                </form>
            </div>

            <div class="tab-tabs">
                <form id="sos-form-4" class="sell-form">

                    <div class="sell-form__row">
                        <div class="sell-form-col">
                            <select class="sell-select">
                                <option value="0" disabled selected>Выберите вид животного</option>
                                <option value="1">Кошка</option>
                                <option value="2">Собака</option>
                                <option value="3">Лошадь</option>
                                <option value="4">Корова</option>
                                <option value="5">Свинья</option>
                            </select>
                            <select class="sell-select">
                                <option value="1">Выберите породу</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                            <div class="checks">
                                <div class="check">
                                    <input type="radio" name="type" id="check66" class="check-input">
                                    <label for="" class="check-label">Самец</label>
                                </div>
                                <div class="check">
                                    <input type="radio" name="type" id="check67" class="check-input">
                                    <label for="" class="check-label">Самка</label>
                                </div>
                                <div class="check">
                                    <input type="radio" name="type" id="check68" class="check-input">
                                    <label for="" class="check-label">Кастрированн/
                                    Стерилизированн</label>
                                </div>
                            </div>

                        </div>

                        <div class="sell-form-col">

                            <div class="form--row">
                                <span>Возраст</span>
                                <label>
                                    от
                                    <input type="text" class="form-number" maxlength="2">
                                </label>
                                <label>
                                    до
                                    <input type="text" class="form-number" maxlength="2">
                                </label>
                                <p>месяцев</p>
                            </div>

                            <select class="sell-select">
                                <option value="1">Выберите окрас</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                        </div>

                        <div class="sell-form-col">
                            <select class="sell-select">
                                <option value="1">Выберите город</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="add-region">+ добавить район</a>
                        </div>
                    </div>


                    <button class="submit-form">
                        НАЙТИ
                    </button>
                </form>
            </div>
        </div>

        <div class="left-elems">
            <div class="left-elem">предметы</div>
            <div class="left-elem active">животные</div>
        </div>

    </div>
</div>