<header class="header header2">
	<div class="container">
		<div class="header__row">
			<div class="header__logo">
				<a href="/">
					<img src="%=static=%img/general/mini-logo.png" alt="Главная">
				</a>
			</div>
			<nav class="header__nav">
				<ul class="header__list">
					<li class="header__list-item">
						<a href="#" class="nav__link">Объявления</a>

						<ul class="header__sublist">
							<li class="header__sublist-item">
								<a href="/post.html" id="tolodge">
									{{Icon iconName="menu-icon1"}}
									Подать объявление
								</a>
							</li>
							<li class="header__sublist-item">
								<a href="/post.html#buytwo">
									{{Icon iconName="menu-icon2"}}
									Продам Отдам
								</a>
							</li>
							<li class="header__sublist-item">
								<a href="/post.html#accept">
									{{Icon iconName="menu-icon3"}}
									Куплю Приму
								</a>
							</li>
							<li class="header__sublist-item">
								<a href="/post.html#vyazka">
									{{Icon iconName="menu-icon4"}}
									Вязка
								</a>
							</li>
							<li class="header__sublist-item">
								<a href="/post.html#help">
									{{Icon iconName="menu-icon5"}}
									Сос
								</a>
							</li>
						</ul>

					</li>
					<li class="header__list-item">
						<a href="spr.html" class="nav__link">Справочная</a>
					</li>
					<li class="header__list-item">
						<a href="#" class="nav__link">Форум</a>
					</li>
					<li class="header__list-item">
						<a href="contacts.html" class="nav__link">Контакты</a>
					</li>
				</ul>
			</nav>
			<div class="header__alerts">
				<a href="#" class="lang__link" title="Язык">
					{{Icon iconName="header-icon1"}}
				</a>
				<a href="#" title="Уведомления">
					{{Icon iconName="header-icon2"}}
				</a>
				<a href="#" title="Профиль" data-popup="true">
					{{Icon iconName="header-icon3"}}
				</a>

				<div class="change--lang">
					<a href="#" class="change--lang-item">
						{{Icon iconName="az"}}
						Azerbaijan dili
					</a>
					<a href="#" class="change--lang-item">
						{{Icon iconName="ru"}}
						Русский язык
					</a>
				</div>
			</div>

			<div class="header__burger">
				{{Icon iconName="burger"}}
			</div>
		</div>
	</div>
</header>


<div class="mobile__menu">
	
</div>