.container {
	max-width: 1315px;
}

@media (max-width: 1360px) and (min-width: 992px) {
	.container	{
		max-width: 960px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.container	{
		max-width: 720px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.container	{
		max-width: 100%;
	}
}

.no-scroll {
	overflow-y: hidden;
}

.header {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	border-radius: 5px;
	background-color: rgba(104, 91, 134, 0.83);
	position: relative;
	margin-bottom: -170px;
	width: 100%;
	&__row {
		height: 170px;
		display: flex;
		align-items: center;
	}
	&__nav {
		margin-left: 55px;
		.nav__link {
			.nsb();
			color: #ffffff;
			font-size: 22px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		&-item {
			position: relative;
			&:not(:last-child) {
				margin-right: 27px;
			}
		}
		.header__sublist {
			position: absolute;
			left: -40px;
			top: 95px;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			border-radius: 6px;
			background-color: #5e527a;
			padding: 12px 25px 12px 12px;
			min-width: 300px;
			opacity: 0;
			z-index: -1;
			&::before {
				content: '';
				position: absolute;
				top: -75px;
				left: 0;
				width: 100%;
				border-top: 75px solid transparent;
			}
			&.active {
				z-index: 11;
				opacity: 1;
			}
			&-item {
				&:not(:last-child) {
					margin-bottom: 13px;
				}
				a {
					display: flex;
					align-items: center;
					.nsr();
					color: #ffffff;
					font-size: 22px;
					svg {
						width: 24px;
						margin-right: 5px;
					}
				}
			}
		}
	}
	&__alerts {
		margin-left: auto;
		position: relative;
		a {
			&:not(:first-child) {
				margin-left: 60px;
			}
		}
		svg {
			flex-shrink: 0;
		}

		.change--lang {
			min-width: 240px;
			position: absolute;
			top: 110px;
			left: -75px;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			border-radius: 6px;
			background-color: #5e527a;
			padding: 13px 13px 0 13px;
			opacity: 0;
			z-index: -1;
			&.active {
				z-index: 11;
				opacity: 1;
			}
			&-item {
				display: flex;
				align-items: center;
				color: #ffffff;
				.nsr();
				font-size: 22px;
				margin-bottom: 10px;
				margin-left: 0 !important;
				svg {
					flex-shrink: 0;
					margin-right: 8px;
				}
			}
		}
	}
	&__burger {
		display: none;
	}
}

.header2 {
	position: relative;
	margin-bottom: 0;
	.header__row {
		height: 115px;
	}
	.nav__link {
		font-size: 20px;
	}
	.header__alerts {
		svg {
			width: 35px;
			height: 35px;
		}
	}
	.header__sublist {
		top: 65px;
	}
	.change--lang {
		top: 75px;
	}
}

.remove-reg {
	cursor: pointer;
}

.main {
	background: url(../img/general/bg.png) no-repeat center center / cover;
	height: 658px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 160px;
	&__block {
		padding-left: 0;
	}
	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 424px;
		height: 90px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 6px;
		background-color: #f5a669;

		.nsb();
		color: #ffffff;
		font-size: 28px;
		text-transform: uppercase;
		transition: .4s;
		svg {
			margin-right: 13px;
		}
		&:hover {
			box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
			transition: .4s;
		}
	}
}

.navbar {
	margin-left: auto;
	a {
		display: inline-block;
		.nsr();
		font-size: 17px;
		line-height: 23px;
		color: #707070;
		&:last-child {
			.nsb();
		}
	}
	svg {
		flex-shrink: 0;
		margin: 0 5px;
	}
}

.white-bg {
	background: url(../img/general/white-bg.png) no-repeat center center;
	padding: 50px 0 0 0;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		padding-bottom: 40px;
	}
	&-block {
		padding-left: 0;
		.search {
			display: inline-flex;
			align-items: center;
			padding: 15px 24px;
			text-align: center;
			border-radius: 6px;
			border: 3px solid #ff6b24;

			color: #f9916e;
			.nsb();
			font-size: 22px;
			text-transform: uppercase;
			img {
				margin-right: 30px;
			}
		}
	}
	&-block2 {
		padding-left: 0;
		display: flex;
		align-items: center;
		.search {
			display: inline-flex;
			align-items: center;
			padding: 7px 24px;
			text-align: center;
			border-radius: 6px;
			border: 2px solid #F6A769;

			color: #F6A769;
			.nsb();
			font-size: 17px;
			text-transform: uppercase;
			img {
				margin-right: 30px;
			}
		}
	} 
}


.orange-bg {
	background: url(../img/general/orange-bg.png) no-repeat center center / cover;
	padding: 55px 0 0 0;
	position: relative;
	&::before {
		content: '';
		background: rgba(248, 177, 106, 0.85);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&-row {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
}

.products {
	margin-top: 45px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.product {
	width: 283px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.32);
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
	z-index: 2;
	margin-bottom: 50px;
	&:not(:nth-child(4n)) {
		margin-right: 40px;
	}
	.product__mark {
		position: absolute;
		top: -35px;
		right: -42px;
	}
	&__title {
		padding: 7px 8px;
	}
	&__name {
		.nsb();
		color: #707070;
		font-size: 17px;
	}
	&__type {
		.nsb();
		color: #707070;
		font-size: 17px;
		margin-top: 10px;
	}
	&__img {
		width: 100%;
		height: 283px;
		margin-top: 7px;
		img {
			display: block;
			object-fit: cover;
			width: 100%;
			height: 283px;
		}
	}
	&__info {
		padding: 15px 8px 6px 8px;
	}
	&__subtitle {
		display: flex;
		align-items: center;
		svg {
			flex-shrink: 0;
			margin-right: 2px;
		}
		a {
			display: inline-block;
			.nsb();
			color: #707070;
			font-size: 17px;
			text-decoration: underline;
		}
	}
	&__description {
		height: 48px;
		.nsr();
		color: #707070;
		font-size: 17px;
		line-height: 23px;
		margin-top: 5px;
		overflow: hidden;
	}
	&__free {
		.nsb();
		color: #707070;
		font-size: 17px;
		margin-top: 5px;
	}
}

.pro-product {
	border: 3px solid #ff7214;
	
	.product__name {
		color: #F5A669;
	}
	.product__type {
		color: #F5A669;
	}
}

.sos-product {
	border: 3px solid #7e6f8c;
	
	.product__name {
		color: #7E6F8C;
	}
	.product__type {
		color: #7E6F8C;
	}
}


.violet-bg {
	background: url(../img/general/violet-bg.png) no-repeat center center / cover;
	padding: 55px 0 0 0;
	position: relative;
	&::before {
		content: '';
		background: rgba(104, 91, 134, 0.85);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&-title {
		text-align: center;
		position: relative;
		z-index: 2;
		h3 {
			.nsb();
			color: #ffffff;
			font-size: 22px;
			text-transform: uppercase;
		}
	}
}

.white-p {
	padding: 19px 0;
}

.pag {
	display: flex;
	align-items: center;
	justify-content: center;
	&-link {
		.msb();
		color: #707070;
		font-size: 17px;
		margin: 0 10px;
		&.active {
			color: #F9916E;
		}
		&:hover {
			color: #F9916E;
		}
	}
}

.footer {
	background-color: #f5a669;
	position: relative;
	overflow: hidden;
	padding: 16px 0;
	z-index: 2;
	&-img {
		position: absolute;
		bottom: -150px;
		left: -16%;
		z-index: -1;
	}
	&-top {
		padding-bottom: 100px;
		border-bottom: 2px solid rgba(255,255,255, .28);
	}
	&-row {
		display: flex;
		align-items: flex-start;
	}
	&-col {
		display: inline-flex;
		flex-direction: column;
		margin-left: 100px;
		margin-top: 30px;
	}
	&-link {
		.nsr();
		font-size: 17px;
		color: #fff;
		margin-bottom: 15px;
		&.under-link {
			text-transform: uppercase;
			text-decoration: underline;
		}
	}
	&-right {
		display: inline-flex;
		flex-direction: column;
		margin-left: auto;
		margin-top: 30px;
		span {
			display: inline-block;
			.nsr();
			font-size: 17px;
			color: #fff;
		}
		.footer-form {
			width: 352px;
			height: 44px;
			position: relative;
			margin-top: 10px;
			input {
				width: 100%;
				height: 100%;
				padding-right: 140px;
				overflow: hidden;
				outline: none;
				border: none;
				border-radius: 6px;
				padding-left: 10px;
				color: #685B86;
				.nsr();
				font-size: 15px;
			}
			.submit {
				background: #685B86;
				position: absolute;
				top: 0;
				right: 0;
				width: 130px;
				height: 100%;
				border: none;
				outline: none;
				border-radius: 0 6px 6px 0;

				.nsr();
				font-size: 15px;
				color: #fff;
				transition: .4s;
				&:hover {
					transition: .4s;
					box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
				}
			}
		}
	}
	&-social {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 25px;
		.social-link {
			margin-left: 30px;
		}
	}
	&-copy {
		padding: 20px 0 0 0;
	}
	&-sb {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		&-items {
			display: flex;
			align-items: center;
			cursor: pointer;
		}
		span {
			display: inline-block;
			.nsr();
			font-size: 17px;
			color: #fff;
			margin-right: 27px;
		}

		.change--lang {
			min-width: 240px;
			position: absolute;
			bottom: 0;
			right: 0;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			border-radius: 6px;
			background-color: #5e527a;
			padding: 13px 13px 0 13px;
			opacity: 0;
			z-index: -1;
			&.active {
				z-index: 11;
				opacity: 1;
			}
			&-item {
				display: flex;
				align-items: center;
				color: #ffffff;
				.nsr();
				font-size: 22px;
				margin-bottom: 10px;
				margin-left: 0 !important;
				svg {
					flex-shrink: 0;
					margin-right: 8px;
				}
			}
		}
	}
}

.footer2 {
	background: #7F6F8B;
	.footer-right .footer-form .submit {
		background: #F5A669;
	}
	.footer-sb-items svg {
		width: 25px;
		height: 25px;
	}
}

.spr__items {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.spr__item {
	border-radius: 6px;
	overflow: hidden;
	width: 394px;
	height: 334px;
	margin-bottom: 50px;
	position: relative;
	z-index: 2;
	&:not(:nth-child(3n)) {
		margin-right: 51px;
	}
	&:hover {
		.hover-result {
			opacity: 1;
			transition: .4s;
		}
	}
	.hover-result {
		opacity: 0;
		transition: .4s;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(112, 112, 112, 0.61);
		z-index: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		span {
			display: block;
			.nsb();
			color: #ffffff;
			font-size: 22px;
		}
	}
}

.vet__items {
	display: flex;
	flex-direction: column;
}

.vet__item {
	display: flex;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 6px;
	background-color: #ffffff;
	margin-bottom: 22px;
	&-img {
		width: 274px;
		height: 197px;
		object-fit: cover;
	}
	&-info {
		padding: 10px 10px 10px 20px;
		width: 100%;
	}
	&-params {
		display: flex;
		align-items: center;
		justify-content: space-between;
		a {
			display: inline-block;
			color: #f6a769;
			font-size: 20px;
			.nsr();
		}
		svg {
			cursor: pointer;
			fill: #f6a769;
			opacity: 0.48;
		}
	}
	&-desc {
		margin-top: 20px;
		height: 58px;
		overflow: hidden;
		color: #707070;
		.nsr();
		font-size: 20px;
		line-height: 29px;
	}
	&-tags {
		display: flex;
		align-items: center;
		margin-top: 10px;
		span {
			display: inline-block;
			padding: 2px 11px 3px 11px;
			border-radius: 6px;
			background-color: #f6a769;
			margin-right: 19px;

			color: #ffffff;
			.nsb();
			font-size: 17px;
			line-height: 23px;
			text-transform: uppercase;
		}
	} 
	&-params2 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 15px;
		.vet-link {
			color: #707070;
			font-size: 20px;
			text-decoration: underline;
			.nsr();
		}
	}
	&-place {
		display: flex;
		align-items: center;
		p {
			margin-left: 10px;
			color: #707070;
			font-size: 20px;
			.nsr();
		}
	}
}

.contacts__items {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding-bottom: 200px;
}

.contacts__item {
	width: 49%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	&-header {
		padding: 8px 24px;
		background: #F5A669;
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			.nsb();
			color: #ffffff;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	&-row {
		height: 41px;
		padding-left: 28px;
		display: flex;
		align-items: center;
		&:nth-child(even) {
			background: #fff;
		}
		&:nth-child(odd) {
			background: rgba(245, 166, 105, 0.13);
		}
		svg {
			width: 21px;
		}
		p {
			.nsr();
			font-size: 16px;
			color: #707070;
			margin-left: 10px;
		}
		a {
			display: inline-block;
			.nsr();
			font-size: 16px;
			color: #707070;
			margin-left: 10px;
		}
	}
	textarea {
		width: 100%;
		resize: none;
		border-radius: 6px;
		border: 1px solid #707070;
		background-color: #ffffff;
		outline: none;
		height: 100%;
		padding: 10px;
		.nsr();
		opacity: 0.82;
		color: #707070;
		font-size: 17px;
		margin-bottom: 23px;
		height: 158px;
		&:focus {
			border: 1px solid #f6a769;
		}
	}
}

.sort-sel {
	margin-left: 16px;
	.nice-select {
		width: 338px;
		height: 43px;
		border: 2px solid #f6a769;
		
		.nsb();
		color: #f6a769;
		font-size: 17px;
		text-transform: uppercase;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 34px;
			width: 2px;
			height: 100%;
			background: #f6a769;

		}
		&::after {
			border-bottom: 2px solid #f6a769;
			border-right: 2px solid #f6a769;
			width: 10px;
			height: 10px;
			margin-top: -7px;
		}
		.list {
			width: 100%;
		}
	}
}

.index-form {
	padding-bottom: 20px;
	&.hide {
		display: none;
		margin-bottom: 30px;
		.index-form-list {
			margin-left: auto;
		}
	}
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.or-search {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 202px;
			height: 70px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			background-color: #f5a669;
			color: #fff;
			.nsb();
			font-size: 22px;
			text-transform: uppercase;
			svg {
				margin-right: 30px;
			}
		}
	}
	&-list {
		display: flex;
		align-items: center;
		padding: 0 20px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		background-color: #f5a669;
	}
	&-item {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 17px 10px;
		color: rgba(255,255,255, .69);
		.nsb();
		font-size: 22px;
		text-transform: uppercase;
		cursor: pointer;
		position: relative;
		z-index: 3;
		&:not(:last-child) {
			margin-right: 40px;
		}
		svg {
			margin-right: 10px;
			fill: #fff;
			opacity: .69;
		}
		&.active {
			color: rgba(255,255,255, 1);
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -4px;
				width: 100%;
				height: 4px;
				background: #fff;
				z-index: 2;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			}
			svg {
				opacity: 1;
			}
		}
	}

	&-body {
		box-shadow: 0 19px 23px rgba(0, 0, 0, 0.12);
		border-radius: 3px;
		border: 3px solid #f5a669;
		background-color: #ffffff;
		padding: 50px 20px 20px 20px;
		margin-top: -3px;
		position: relative;
		z-index: 1;
		height: auto;
		min-height: 474px;
		.left-elems {
			position: absolute;
			top: 0;
			left: 0;
			height: 50px;
			width: 474px;
			border: 3px solid #f5a669;
			border-radius: 6px 6px 0 0;
			background-color: #ffffff;
			transform: translate(-55%, 209px) rotate(-90deg);
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.left-elem {
			width: 50%;
			height: 100%;
			text-align: center;
			.nsb();
			color: rgba(245, 166, 105, .81);
			font-size: 22px;
			line-height: 40px;
			text-transform: uppercase;
			&.active {
				background: #f5a669;
				color: #fff;
				border: 3px solid #f5a669;
			}
		}
	}
	&-content {
		display: none;
		&.active {
			display: block;
		}
	}
}

.sell-form {
	display: flex;
	flex-direction: column;
	&__row {
		display: flex;
		align-items: flex-start;
	}
	&-col {
		margin-right: 120px;
		display: flex;
		flex-direction: column;
	}
}

.checks {
	max-width: 271px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.check {
	margin-bottom: 30px;

	&-input {
		display: none;
		&:checked + .check-label {
			&::before {
				content: '\2714';
				font-size: 12px;
				border: 1px solid #87534C;
				color: #87534C;
			}
		}
	}
	&-label {
		.nsr();
		color: #707070;
		font-size: 18px;
		display: flex;
		align-items: center;
		cursor: pointer;
		&::before {
			content: '';
			display: inline-block;
			flex-shrink: 0;
			text-align: center;
			width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 3px;
			border: 1px solid #707070;
			background-color: #ffffff;
			margin-right: 22px;
			color: #707070;
		}
	}
	&-right {
		margin-left: auto;
		margin-top: -15px;
		.check-label {
			font-size: 15px;
			&::before {
				width: 15px;
				height: 15px;
				line-height: 14px;
				margin-right: 15px;
			}
		}
	}
}

.sell-select {
	width: 271px;
	color: rgba(112, 112, 112, .52);
	.nsr();
	font-size: 18px;
	padding: 0 0 0 4px;
	border: none;
	border-bottom: 1px solid #707070;
	border-radius: 0;
	margin-bottom: 40px;
	&::after {
		border-bottom: 4px solid #707070;
		border-right: 4px solid #707070;
		right: 6px;
		width: 13px;
		height: 13px;
		margin-top: -8px;
	}
	&:hover {
		border-bottom: 1px solid #707070;
	}
	.list {
		width: 100%;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 2px;
		background-color: #ffffff;
		max-height: 130px;
		overflow-y: auto;
		padding: 8px 0;
		&::-webkit-scrollbar{
			width: 4px;
		}
		&::-webkit-scrollbar-track {
			background-color:#ffffff
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 0px;
			background-color:#707070;
			border-radius: 53px;
		}
		&::-webkit-resizer{
			width:7px;
			height:0px
		}
	}
	.option {
		.nsr();
		color: #707070;
		font-size: 16px;
		line-height: 20px;
		min-height: 20px;
		margin-bottom: 4px;
	}
}

.form--row {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	span {
		display: inline-block;
		width: 70px;
		.nsr();
		font-size: 18px;
		color: #707070;
		margin-right: 10px;
	}
	label {
		display: flex;
		align-items: center;
		.nsr();
		font-size: 18px;
		color: #707070;
		&:not(:last-child) {
			margin-right: 16px;
		}
	}
	input {
		max-width: 60px;
		height: 30px;
		border: none;
		border-bottom: 1px solid #707070;
		margin-left: 16px;
		outline: none;
		margin-top: 10px;
		color: #707070;
		.nsr();
		font-size: 18px;
		&:focus {
			border-bottom: 1px solid #f5a669;
		}
	}
	p {
		color: #707070;
		.nsr();
		font-size: 18px;
	}
}

.add-region {
	color: #707070;
	.nsr();
	font-size: 18px;
	margin-top: -15px;
	cursor: pointer;
}

.submit-form {
	width: 395px;
	height: 64px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 6px;
	border: 3px solid #f5a669;
	background-color: #f5a669;
	outline: none;

	color: #fcfcfc;
	font-size: 22px;
	.nsb();
	margin-left: auto;
}

.res__items {
	display: flex;
	flex-direction: column;
}

.res__item {
	display: flex;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.32);
	border-radius: 6px;
	border: 3px solid #7e6f8c;
	background-color: #ffffff;
	margin-bottom: 22px;
	&-img {
		width: 214px;
		height: 198px;
		object-fit: cover;
	}
	&-info {
		padding: 10px 30px 15px 10px;
		width: 100%;
	}
	&-params {
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			color: #707070;
			font-size: 17px;
			.nsb();
		}
		&-row {
			display: flex;
			align-items: center;
			svg {
				margin-right: 5px;
			}
			h4 {
				.nsb();
				color: #707070;
				font-size: 16px;
				text-decoration: underline;
			}
		}
	}
	&-desc {
		margin-top: 15px;
		height: 91px;
		overflow: hidden;
		color: #707070;
		.nsr();
		font-size: 17px;
		line-height: 23px;
	}
	&-params2 {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 15px;
		h4 {
			color: #707070;
			font-size: 17px;
			.nsb();
		}
	}
}

.klin {
	&__items {
		display: flex;
		justify-content: space-between;
	}
	&__left {
		max-width: 485px;
		width: 100%;
		min-height: 575px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 6px;
		background-color: #ffffff;
		overflow: hidden;
	}
	&__header {
		background-color: #f5a669;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 15px;
		svg {
			fill: #fff;
		}
		p {
			.nsb();
			color: #ffffff;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	&__body {
		padding: 8px 15px;
		background: #fff;
		.vet-link {
			display: inline-block;
			color: #707070;
			.nsr();
			font-size: 20px;
			text-decoration: underline;
			margin-top: 8px;
		}
	}
	&__info {
		display: flex;
		align-items: center;
		margin: 13px 0;
		svg {
			fill: #707070;
			width: 21px;
			height: 21px;
			margin-right: 14px;
			flex-shrink: 0;
		}
		span {
			display: inline-block;
			.nsr();
			color: #707070;
			font-size: 20px;
		}
		a {
			display: inline-block;
			.nsr();
			color: #707070;
			font-size: 20px;
		}
	}

	&__right {
		max-width: 765px;
		width: 100%;
		min-height: 575px;
		background: #fff;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 6px;
		overflow: hidden;
	}
	&__more {
		padding: 20px 15px;
		background: #fff;
	}
	&__desc {
		.nsr();
		color: #707070;
		font-size: 17px;
	}
	&__serv {
		margin-top: 25px;
		p {
			.nsr();
			color: #707070;
			font-size: 17px;
			text-decoration: underline;
		}
		.vet__item-tags {
			span {
				margin-bottom: 8px;
			}
		}
	}
}

.reviews {
	margin-top: 30px;
	&__header {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 6px;
		background-color: #7f6f8b;
		position: relative;
		z-index: 4;
	}
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		display: flex;
		align-items: center;
		color: #ffffff;
		font-size: 17px;
		.nsr();
		margin-right: 70px;
		padding: 10px 15px 10px 0;
		margin-left: 10px;
		cursor: pointer;
		svg {
			fill: #fff;
			flex-shrink: 0;
			margin-right: 13px;
		}
		&.active {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				background: #fff;
				width: 100%;
				height: 3px;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			}
		}
	}

	&__body {
		padding: 40px 70px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 6px;
		background-color: #ffffff;
		margin-top: -5px;
		position: relative;
		z-index: 3;
		display: none;
		&.active {
			display: block;
		}
	}
	&__comment {
		display: flex;
		justify-content: space-between;
		margin-bottom: 6px;
		&:not(:first-child) {
			.reviews__circle {
				& > div {
					width: 21px;
					height: 21px;
					border: 1px solid #707070;
					border-radius: 50%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
		
		&:not(:last-child) {
			.reviews__circle {
				&::after {
					content: '';
					position: absolute;
					left: 50%;
					top: 25px;
					transform: translateX(-50%);
					width: 4px;
					height: 98%;
					background: #685b86;
				}
			}
		}
		.date {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #685b86;
			font-size: 17px;
			.nsr();

			.month {
				.nsb();
			}
		}
		.comment {
			max-width: 950px;
			margin-top: 20px;
			width: 100%;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			background-color: #ffffff;
			&__header {
				background-color: #685b86;
				padding: 17px 21px;
				border-radius: 6px 6px 0 0;
				.author {
					display: inline-block;
					.nsr();
					color: #fffefe;
					font-size: 17px;
					text-decoration: underline;
				}
			}
			&__body {
				padding: 17px 21px;
				svg {
					cursor: pointer;
					fill: #f6a769;
					opacity: 0.48;
				}
				textarea {
					border: none;
					resize: none;
					width: 100%;
					color: rgba(112, 112, 112, 0.62);
					font-size: 17px;
					.nsr();
					outline: none;
					min-height: 53px;
				}
			}
			.comment-true {
				p {
					.nsr();
					color: #707070;
					font-size: 17px;
					line-height: 23px;
					max-width: 100%;
					height: auto;
					overflow: hidden;
					margin-top: 10px;
				}
			}
		}
	}
	&__circle {
		position: relative;
		margin-top: 20px;

		span {
			display: inline-block;
			width: 15px;
			height: 15px;
			background-color: #685b86;
			border-radius: 50%;
		}
	}
}

.obv {
	margin-top: 25px;
	padding-bottom: 50px;
	&__items {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__left {
		max-width: 668px;
		width: 100%;
		&-item {
			box-shadow: 0 3px 20px rgba(0, 0, 0, 0.32);
			border-radius: 6px;
			background-color: #ffffff;
			overflow: hidden;
		}
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #685b86;
			padding: 13px 18px;
			p {
				.nsr();
				text-transform: uppercase;
				color: #ffffff;
				font-size: 18px;
			}
		}
		&-body {
			display: flex;
			align-items: flex-start;
			position: relative;

			.vet-fancy {
				display: flex;
				height: 100%;
				flex-shrink: 0;
			}
			.abs-img {
				position: absolute;
				bottom: 15px;
				left: 15px;
				svg {
					fill: #fff;
				}
			}
			img {
				width: 449px;
				height: 448px;
				object-fit: cover;
				flex-shrink: 0;
			}
			.body-text {
				height: inherit;
				overflow: hidden;
				padding: 20px 15px 0 15px;
				margin-bottom: 20px;
				.nsr();
				color: #707070;
				font-size: 17px;
				line-height: 23px;
				max-height: 430px;
				display: -webkit-box;
				-webkit-line-clamp: 16; 
				-webkit-box-orient: vertical;
			}
		}
	}

	&__social {
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		svg {
			border-radius: 6px;
			margin-left: 4px;
		}
	}

	&__comments {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 6px;
		background-color: #ffffff;
		margin-top: 24px;
		padding: 21px 20px 65px 50px;
	}
	&__mini {
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-bottom: 20px;
		&-header {
			background-color: #685b86;
			display: flex;
			align-items: center;
			padding: 17px 21px;
			border-radius: 6px 6px 0 0;
			.author {
				display: inline-block;
				.nsr();
				color: #fffefe;
				font-size: 17px;
				text-decoration: underline;
			}
			svg {
				flex-shrink: 0;
				fill: #fff;
				margin-right: 23px;
			}
			.commit {
				display: inline-block;
				.nsr();
				color: #ffffff;
				font-size: 17px;
				margin-left: auto;
			}
		}
		&-body {
			padding: 15px;
			box-shadow: 0 3px 20px rgba(0, 0, 0, 0.32);
			border-radius: 6px;
			background-color: #ffffff;
			p {
				.nsr();
				color: #707070;
				font-size: 17px;
				line-height: 21px;
				height: 42px;
				overflow: hidden;
			}
		}
	}
	&__comment {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		.reviews__circle {
			& > div {
				width: 21px;
				height: 21px;
				border: 1px solid #707070;
				border-radius: 50%;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		&:not(:last-child) {
			.reviews__circle {
				&::after {
					content: '';
					position: absolute;
					left: 50%;
					top: 20px;
					transform: translateX(-50%);
					width: 4px;
					height: calc(100% + 20px);
					background: #685b86;
				}
			}
		}
		&:first-child {
			.comment__body {
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
				border-bottom: 3px solid #685b86;
				border-radius: 0 0 6px 6px
			}
			.reviews__circle {
				&::after {
					content: '';
					position: absolute;
					left: 50%;
					top: 20px;
					transform: translateX(-50%);
					width: 4px;
					height: calc(100% + 50px);
					background: #685b86;
				}
			}
		}
		&:nth-child(3) {
			.reviews__circle {
				&::after {
					display: none;
				}
			}
		}
		.date {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #685b86;
			font-size: 17px;
			.nsr();

			.month {
				.nsb();
			}
		}
		.comment {
			max-width: 500px;
			margin-top: 20px;
			width: 100%;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			background-color: #ffffff;
			&__header {
				background-color: #685b86;
				display: flex;
				align-items: center;
				padding: 17px 21px;
				border-radius: 6px 6px 0 0;
				.author {
					display: inline-block;
					.nsr();
					color: #fffefe;
					font-size: 17px;
					text-decoration: underline;
				}
				svg {
					flex-shrink: 0;
					fill: #fff;
					margin-right: 23px;
				}
				.commit {
					display: inline-block;
					.nsr();
					color: #ffffff;
					font-size: 17px;
					margin-left: auto;
				}
			}
			&__body {
				padding: 15px;
				display: flex;
				flex-direction: column;
				p {
					.nsr();
					color: #707070;
					font-size: 17px;
					line-height: 21px;
					overflow: hidden;
				}
				.reply {
					display: inline-block;
					color: #87534c;
					font-size: 14px;text-decoration: underline;
					.nsr();
					margin-top: 8px;
					margin-left: auto;
				}
			}
			.comment-true {
				p {
					.nsr();
					color: #707070;
					font-size: 17px;
					line-height: 23px;
					max-width: 470px;
					height: 42px;
					overflow: hidden;
					margin-top: 10px;
				}
			}
		}
	}


	&__subcomment {
		margin-bottom: 20px;
	}

	&__right {
		max-width: 570px;
		width: 100%;
		&-item {
			margin-bottom: 30px;
			box-shadow: 0 3px 20px rgba(0, 0, 0, 0.32);
			border-radius: 6px;
			background-color: #ffffff;
			overflow: hidden;
		}
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #f5a669;
			padding: 13px 18px;
			p {
				.nsr();
				color: #ffffff;
				font-size: 18px;
			}
		}
		&-body {
			.body--item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				padding: 9px;
				&:nth-child(even) {
					background: rgba(245, 166, 105, .13);
				}
				p {
					.nsr();
					color: #707070;
					font-size: 18px;
				}
				span {
					display: inline-block;
					.nsb();
					color: #707070;
					font-size: 18px;
				}
				.color {
					color: #87534c;
					.nsb();
					font-size: 18px;
					display: flex;
					align-items: center;
					span {
						margin-right: 5px;
					}
					&-orange {
						width: 18px;
						height: 17px;
						border-radius: 5px;
						background-color: #ffac1d;
					}
					&-black {
						width: 18px;
						height: 17px;
						border-radius: 5px;
						background-color: #000;
					}
				}
				a {
					display: inline-block;
					.nsb();
					color: #707070;
					font-size: 18px;
				}
			}
		}
	}
}



/* Модальные окна */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #707070;
	opacity: 0.88;
	z-index: -1;
	display: none;
	&.active {
		display: block;
		z-index: 10;
	}
}
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 650px;
	width: 100%;
	background: #fff;
	z-index: -2;
	border-radius: 6px;
	overflow: hidden;
	opacity: 0;
	&.active {
		z-index: 11;
		opacity: 1;
	}
	&__header {
		background-color: #f5a669;
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__item {
		display: flex;
		align-items: center;
		padding: 38px 31px 19px 48px;
		.nsr();
		color: #f5f5f5;
		font-size: 17px;
		opacity: .5;
		cursor: pointer;
		svg {
			margin-right: 5px;
		}
		&.active {
			opacity: 1;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -3px;
				background: #fff;
				width: 100%;
				height: 4px;
				box-shadow: 0 3px 4px rgba(0, 0, 0, 0.26);
			}
		}
	}

	&__body {
		padding: 60px 20px 35px 20px;
		display: none;
		&.active {
			display: block;
		}
		svg {
			flex-shrink: 0;
		}
		.popup-label {
			display: flex;
			align-items: flex-start;
			margin-bottom: 50px;
			svg {
				margin-right: 13px;
				width: 22px;
			}
		}
		.popup-div {
			position: relative;
			width: 100%;
		}
		.popup-span {
			position: absolute;
			opacity: 0.82;
			color: #707070;
			font-size: 17px;
			.nsr();
			top: 0;
			left: 0;
			transition: top .4s;
		}
		.popup-input {
			width: 100%;
			border: none;
			border-bottom: 1px solid black;
			outline: none;
			height: 25px;
			color: #707070;
			font-size: 17px;
			.nsr();
			&:focus {
				border-bottom: 1px solid #f5a669;
			}
			&:focus + .popup-span {
				font-size: 15px;
				color: #f5a669;
				top: -20px;
				transition: top .4s;
			}
			&.error {
				border-bottom: 1px solid red;
			}
			&.valid {
				border-bottom: 1px solid green;
			}
		}
		.valid + .popup-span {
			color: #f5a669;
			font-size: 15px;
			top: -20px;
			transition: top .4s;
		}
		.error + .popup-span {
			font-size: 15px;
			color: #f5a669;
			top: -20px;
			transition: top .4s;
		}
		.popup-submit {
			display: flex;
			align-items: center;
			justify-content: space-between;
			button {
				width: 102px;
				height: 38px;
				border-radius: 6px;
				border: 1px solid #f5a669;
				outline: none;
				background: #fff;
				.nsb();
				color: #f5a669;
				font-size: 17px;
				text-transform: uppercase;
			}
		}
		.reg-btn {
			width: 100%;
			border-radius: 6px;
			background-color: #f5a669;
			padding: 8px 0;
			text-align: center;
			color: #f5f5f5;
			font-size: 17px;
			.nsr();
			transition: .4s;
			&:hover {
				transition: .4s;
				box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
			}
		}
		.popup-check {
			input {
				display: none;
				&:checked + label {
					&::before {
						text-align: center;
						content: '\2714'
					}
				}
			}
			label {
				display: flex;
				align-items: center;
				.nsr();
				color: #707070;
				font-size: 17px;
				cursor: pointer;
				&::before {
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					border-radius: 2px;
					border: 1px solid #707070;
					margin-right: 8px;
				}
			}
		}
	}

	&-social {
		margin-top: 40px;
		text-align: center;
		span {
			display: inline-block;
			.nsr();
			color: #707070;
			font-size: 22px;
		}
		.popup-s {
			margin-top: 23px;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				margin-right: 5px;
			}
		}
		.soc {
			.nsr();
			color: #f5f5f5;
			font-size: 14px;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 146px;
			height: 37px;
			border-radius: 6px;
			margin: 0 7px;
		}
		.facebook {
			background-color: #3b5998;
		}
		.twitter {
			background-color: #00aced;
		}
		.google {
			background-color: #dd4b39;
		}
	}
}

.sos-form-content {
	height: 100%;
	margin-top: -25px;
	position: relative;
	.submit-form {
		position: relative;
		bottom: 0;
		right: 0;
		border-radius: 6px;
		border: 3px solid #f5a669;
		background: #fff;
		.nsb();
		color: #f5a669;
		font-size: 22px;
		transition: .4s;
		&:hover {
			color: #fff;
			background: #f5a669;
			transition: .4s;
			box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
		}
	}
}
.sos-list {
	display: flex;
	align-items: center;
	border-radius: 6px;
	border: 1px solid #eb9f65;
	overflow: hidden;
	margin-bottom: 40px;
}
.sos-item {
	padding: 8px 17px;
	color: #707070;
	font-size: 15px;
	.nsr();
	cursor: pointer;
	&:not(:last-child) {
		border-right: 1px solid #eb9f65;
	}
	&.active {
		background-color: #f5a669;
		color: #fff;
	}
}

.tab-tabs {
	display: none;
	&.active {
		display: block;
	}
}

.form-regions {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	&-item {
		border-radius: 4px;
		background-color: #f6a869;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 2px 15px 2px 5px;
		margin-right: 9px;
		margin-bottom: 9px;
		span {
			display: inline-block;
			.nsb();
			font-size: 32px;
			line-height: 32px;
			color: #fff;
		}
		p {
			.nsr();
			margin-left: 5px;
			color: #ffffff;
			font-size: 16px;
		}
	}
}

.region-popup {
	max-width: 732px;
	width: 100%;
	padding: 48px 72px 22px 72px;
	background: #fff;
	z-index: -1;
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&.active {
		z-index: 11;
		opacity: 1;
	}

	&-btn {
		width: 100%;
		border-radius: 6px;
		background-color: #f5a669;
		padding: 8px 0;
		text-align: center;
		color: #f5f5f5;
		font-size: 17px;
		.nsr();
		margin-top: 50px;
		text-transform: uppercase;
		transition: .4s;
		&:hover {
			box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
			transition: .4s;
		}
	}

	&-row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&-col {
		display: flex;
		flex-direction: column;
		.region-title {
			display: inline-block;
			color: #f6a869;
			font-size: 16px;
			.nsb();
			margin-bottom: 8px;
		}
	}
	&-label {
		cursor: pointer;
		margin-bottom: 8px;
		.form-regions-item {
			border-radius: 4px;
			border: 1px solid #707070;
			background: #fff;
			span {
				color: #707070;
			}
			p {
				color: #707070;
			}
		}
	}
	&-input {
		display: none;
		&:checked + .form-regions-item {
			border: 1px solid #f5a669;
			background-color: #f5a669;
			span {
				color: #fff;
			}
			p {
				color: #fff;
			}
		} 
	}
}

.post {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 100px;
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.28);
		background-color: #f5a669;
		padding: 9px 20px;
		svg {
			flex-shrink: 0;
		}
		span {
			display: inline-block;
			.nsb();
			color: #ffffff;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	&__image {
		width: 428px;
		height: 428px;
		background: url('../img/general/default.png');
		a {
			&:not(:last-child) {
				display: none;
			}
		}
		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
	&__form {
		padding: 17px 17px 30px 17px;
		.file {
			input {
				display: none;
			}
			label {
				display: block;
				text-align: center;
				height: 64px;
				line-height: 60px;
				border-radius: 6px;
				border: 3px solid #f5a669;
				color: #f5a669;
				font-size: 22px;
				.nsb();
				text-transform: uppercase;
				cursor: pointer;
				&:hover {
					color: #fff;
					background: #f5a669;
				}
			}
		}
		.added-img {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			margin-top: 30px;
			.openfancy {
				display: block;
				width: 100%;
				height: 100%;
			}
			.img {
				width: 118px;
				height: 118px;
				border-radius: 6px;
				overflow: hidden;
				position: relative;
				margin-bottom: 20px;
				&:not(:nth-child(3n)) {
					margin-right: 20px;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&:hover {
					.img-hover {
						opacity: 1;
					}
				}
				&.hide {
					display: none;
				}
			}
			.img-hover {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(112, 112, 112, .65);
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.zoom {
				cursor: pointer;
				margin-right: 21px;
			}
			.delete {
				cursor: pointer;
				border: none;
				background: transparent;
			}
		}
	}
	&__left {
		max-width: 428px;
		width: 100%;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		background-color: #ffffff;
		.dropzone {
			padding: 0;
			border: none;
		}
	}

	&__right {
		max-width: 840px;
		width: 100%;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		background-color: #ffffff;
		.post__header {
			padding: 0 20px;
		}
		.cat-item {
			display: flex;
			align-items: center;
			color: rgba(255, 255, 255, .69);
			font-size: 18px;
			.nsb();
			text-transform: uppercase;
			cursor: pointer;
			padding: 5px 0;
			svg {
				flex-shrink: 0;
				width: 35px;
				height: 35px;
				fill: #fff;
				opacity: .69;
				margin-right: 10px;
			}
			&.active {
				color: #ffffff;
				position: relative;
				svg {
					opacity: 1;
				}

				&::after {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					bottom: -2px;
					background: #fff;
					width: 100%;
					height: 4px;
					box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
				}
			}
		}
	}

	&__content {
		display: none;
		&.active {
			display: block;
		}

		&-first {
			padding: 28px 97px 40px 27px;
			h3 {
				color: #707070;
				font-size: 18px;
				.nsb();
				text-decoration: underline;
				text-transform: uppercase;
				text-align: center;
				margin-left: 40px;
			}
		}
		&-second {
			background-color: rgba(245, 166, 105, 0.16);
			padding: 28px 97px 1px 27px;
			h3 {
				color: #707070;
				font-size: 18px;
				.nsb();
				text-decoration: underline;
				text-transform: uppercase;
				text-align: center;
				margin-left: 40px;
			}
		}
		&-2 {
			padding-bottom: 30px;
			input {
				background: transparent;
			}
		}
		&-info {
			margin-top: 60px;
		}
		&-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 30px;
		}
		&-fs {
			align-items: flex-start;
		}
		&-title {
			display: flex;
			align-items: center;
			color: #727272;
			font-size: 18px;
			.nsb();
			svg {
				margin-right: 7px;
			}
		}
		&-select {
			width: 428px;
			position: relative;
			flex-shrink: 0;
			.dop-val {
				color: #707070;
				.nsr();
				font-size: 18px;
				input {
					width: 85px;
					line-height: 18px;
					border: none;
					background: transparent;
					border-bottom: 1px solid #707070; 
					margin-right: 18px;
					outline: none;
					color: #707070;
					.nsr();
					font-size: 18px;
				}
				textarea {
					width: 100%;
					height: 148px;
					border-radius: 6px;
					border: 1px solid #707070;
					background-color: #ffffff;
					resize: none;
					outline: none;
					padding: 15px;
					color: #707070;
					.nsr();
					font-size: 18px;
				}
			}
			.dop-area {
				margin-top: 30px;
			}
			.nice-select {
				width: 100%;
				height: 45px;
				line-height: 45px;
				border: 1px solid #707070;

				color: #727272;
				font-size: 18px;
				.nsr();
				border-radius: 0;
				&:after {
					width: 12px;
					height: 12px;
					margin-top: -8px;
					border-bottom: 4px solid #999;
					border-right: 4px solid #999;
				}
			}
			.list {
				width: 100%;
				border-radius: 0;
				border: 1px solid #707070;
			}
			.color-pick	{
				width: 139px;
				height: 45px;
				border-radius: 4px;
				border: 1px solid #f5a669;
				text-align: center;
				line-height: 45px;
				color: #f5a669;
				font-size: 18px;
				.nsr();
				cursor: pointer;
				&:hover {
					color: #fff;
					background: #f5a669;
				}
			}
			.color-added {
				margin-top: 10px;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				.color {
					display: flex;
					align-items: center;
					color: #707070;
					font-size: 13px;
					margin-right: 10px;
					margin-bottom: 5px;
					.nsr();
					cursor: pointer;
					span {
						display: inline-block;
						margin-right: 5px;
						width: 14px;
						height: 13px;
						border-radius: 13px;
					}
					&-orange {
						background-color: #ffac1d;
					}
					&-black {
						background-color: #000;
					}
					&-brown {
						background-color: #724800;
					}
					&-blue {
						background-color: #4039f1;
					}
					&-yellow {
						background-color: #fef621;
					}
				}
			}
			.checks {
				max-width: 100%;
				justify-content: flex-start;
				align-items: flex-start;
				flex-wrap: nowrap;
				.check {
					margin-right: 20px;
					margin-bottom: 0;
					&-label {
						align-items: flex-start;
						&::before {
							border-radius: 50%;
							margin-right: 12px;
						}
					}
				}
			}
			.price {
				display: flex;
				align-items: center;
				justify-content: space-between;
				&-val {
					color: #707070;
					.nsr();
					font-size: 18px;
					text-transform: uppercase;
					input {
						width: 85px;
						line-height: 18px;
						border: none;
						border-bottom: 1px solid #707070; 
						margin-right: 18px;
						outline: none;
						color: #707070;
						.nsr();
						font-size: 18px;
					}
				}
				.check {
					margin-bottom: 0;
					&-label {
						align-items: flex-start;
						&::before {
							border-radius: 50%;
							margin-right: 12px;
						}
					}
				}
			}
			.add-region {
				// margin-top: 17px;
				// position: absolute;
				// bottom: -30px;
			}
		}
		&-input {
			width: 426px;
			input {
				width: 100%;
				border: none;
				border-bottom: 1px solid #707070;
				outline: none;
				line-height: 20px;

				color: #707070;
				.nsr();
				font-size: 18px;
			}
		}
	}

	.btns {
		margin-top: 50px;
		text-align: center;
		padding-bottom: 30px;
		.preview {
			.nsb();
			color: #f5a669;
			font-size: 22px;
			margin-right: 50px;
		}
		.ready {
			width: 245px;
			height: 64px;
			border-radius: 6px;
			border: 3px solid #f5a669;
			outline: none;
			background: transparent;
			.nsb();
			color: #f5a669;
			font-size: 22px;
			&:hover {
				background: #f5a669;
				color: #fff;
			}
		}
	}
}

.obv--list {
	display: flex;
	align-items: center;
	width: max-content;
	margin: 20px;
	border-radius: 6px;
	border: 1px solid #eb9f65;
	overflow: hidden;
	&-item {
		padding: 8px 15px;
		cursor: pointer;
		color: #707070;
		text-transform: uppercase;
		font-size: 15px;
		.nsr();
		&:not(:last-child) {
			border-right: 1px solid #eb9f65;
		}
		&.active {
			background: #eb9f65;
			color: #fff;
		}
	}
}

.obv--content {
	display: none;
	&.active {
		display: block;
	}
}

.error {
	color: red !important;
	.nsr();
	font-size: 12px;
}

.valid {
	color: green !important;
	.nsr();
	font-size: 12px;
}

.error-select {
	border: 1px solid red !important;
	.current {
		color: red;
	}
}
.success-select {
	border: 1px solid green !important;
	.current {
		color: green;
	}
}

.error-input {
	color: red;
	&::before {
		border: 1px solid red;
	}
}

.error-value {
	border-bottom: 1px solid red !important;
}

.success-value {
	border-bottom: 1px solid green !important;
}

.ajax-helper {
	min-width: 200px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	transform: translate(400%, 0);
	background: #ffffff;
	border-radius: 6px;
	overflow: hidden;
	transition: .5s;
	z-index: 13;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	&.active {
		transition: .5s;
		transform: translate(0, 0);
	}
	&-header {
		padding: 5px 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.nsr();
		font-size: 17px;
		line-height: 23px;
		border-bottom: 1px solid #e2e2e2;
	}
	&-close {
		font-size: 30px;
	}
	&-text {
		padding: 10px;
		.nsr();
		font-size: 15px;
		line-height: 17px;
	}
} 

.clr-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #707070;
	opacity: 0.88;
	z-index: -1;
	display: none;
	&.active {
		display: block;
		z-index: 10;
	}
}
.clr-pick {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	padding: 20px 30px;
	width: 375px;
	max-height: 320px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	z-index: -1;
	&.active {
		opacity: 1;
		z-index: 12;
	}
	&::-webkit-scrollbar{
		width: 4px;
	}
	&::-webkit-scrollbar-track {
		background-color:#ffffff
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color:#707070;
		border-radius: 53px;
	}
	&::-webkit-resizer{
		width:7px;
		height:0px
	}
	&-col {
		display: flex;
		flex-direction: column;
		.color {
			display: flex;
			align-items: center;
			color: #707070;
			font-size: 13px;
			margin-bottom: 5px;
			.nsr();
			cursor: pointer;
			span {
				display: inline-block;
				margin-right: 5px;
				width: 14px;
				height: 13px;
				border-radius: 13px;
			}
			&-orange {
				background-color: #ffac1d;
			}
			&-black {
				background-color: #000;
			}
			&-brown {
				background-color: #724800;
			}
			&-blue {
				background-color: #4039f1;
			}
			&-yellow {
				background-color: #fef621;
			}
		}
	}
}
.clr-close {
	position: absolute;
	top: 5px;
	right: 5px;
	.nsb();
	font-size: 24px;
	color: #707070;
	cursor: pointer;
}

.mobile__menu {
	opacity: 0;
	z-index: -1;
}

.kit {
	padding: 50px 0;
	background: #fff;
	&-wrapper {
		margin-bottom: 50px;
		display: flex;
	}
}

.l-alert {
	width: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 6px;
	background-color: #ffffff;
	overflow: hidden;
	&_full {
		width: 100%;
	}
	&_header {
		padding: 25px 11px 20px 36px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-title {
			.nsr();
			color: #ffffff;
			font-size: 20px;
			text-transform: uppercase;
		}
	}
	&_close {
		color: #FFFFFF;
		.nsb();
		font-size: 36px;
		line-height: 24px;
		cursor: pointer;
	}
	&_success {
		background: #4caf50;
	}
	&_error {
		background: #f44336;
	}
	&_info {
		background: #f5a669;
	}
	&_panel {
		background: #d9d9d9;
	}
	&_primary {
		background: #685b86;
	}
	&_body {
		padding: 18px 8px 21px 36px;
		color: #707070;
		.nsr();
		font-size: 17px;
	}
}

.l-message {
	display: flex;
	align-items: center;
	padding: 35px 25px 35px 25px;
	border-radius: 6px 6px 0 0;
	width: 100%;
	svg {
		fill: #FFFFFF;
		flex-shrink: 0;
		width: 28px;
		height: 28px;
		margin-right: 25px;
	}
	&_text {
		color: #ffffff;
		.nsr();
		font-size: 20px;
	}
	&_primary {
		background: #685b86;
	}
	&_info {
		background: #f5a669;
	}
	&_success {
		background: #4caf50;
	}
	&_warning {
		background: #447fb2;
	}
	&_error {
		background: #f44336;
	}
	&_help {
		background: #d9d9d9;
	}
}

.l-danger {
	display: flex;
	align-items: center;
	padding: 35px 25px 35px 25px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	position: relative;
	width: 100%;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 5px;
		background: #f44336;
	}
	svg {
		fill: #f44336;
		flex-shrink: 0;
		width: 28px;
		height: 28px;
		margin-right: 25px;
	}
	&_text {
		color: #666666;
		.nsr();
		font-size: 20px;
	}
}

.sm-label {
	display: block;
	width: max-content;
	max-width: 150px;
	.form-regions-item {
		margin: 0;
	}
}

.l-popup {
	max-width: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
	}
	&_success {
		&::after {
			background: #4caf50;
		}
		.l-popup_header {
			background: #4caf50;
		}
		.l-popup_button {
			color: #4caf50;
		}
	}
	&_error {
		&::after {
			background: #f44336;
		}
		.l-popup_header {
			background: #f44336;
		}
		.l-popup_button {
			color: #f44336;
		}
	}
	&_info {
		&::after {
			background: #f5a669;
		}
		.l-popup_header {
			background: #f5a669;
		}
		.l-popup_button {
			color: #f5a669;
		}
	}
	&_header {
		padding: 25px 11px 20px 36px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-title {
			.nsr();
			color: #ffffff;
			font-size: 20px;
			text-transform: uppercase;
		}
	}
	&_close {
		color: #FFFFFF;
		.nsb();
		font-size: 36px;
		line-height: 24px;
		cursor: pointer;
	}
	&_body {
		padding: 26px 11px 0 54px;
		color: #707070;
		.nsr();
		font-size: 17px;
	}
	&_buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 12px 26px 19px 0;
	}
	&_button {
		.nsr();
		color: #4caf50;
		font-size: 31px;
		cursor: pointer;
		&-save {
			margin-left: 60px;
		}
	}
} 

.l-tooltip {
	position: relative;
	width: max-content;
	margin-right: 10px;
	&_block {
		width: max-content;
		padding: 13px 36px 10px 30px;
		background-color: #f5f5f5;
		color: #666666;
		font-size: 31px;
		text-transform: uppercase;
		.nsr();
		cursor: help;
		&:hover + .l-tooltip_hover {
			display: block;
		}
	}
	&_hover {
		display: none;
		width: max-content;
		padding: 21px 26px 18px 19px;
		position: absolute;
		color: #ffffff;
		font-size: 31px;
		text-transform: uppercase;
		.nsr();
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 1px;
		z-index: 12;
	}
	&_bottom {
		top: calc(100% + 8px);
		left: 50%;
		transform: translateX(-50%);
	}
	&_top {
		bottom: calc(100% + 8px);
		left: 50%;
		transform: translateX(-50%);
	}
	&_right {
		left: calc(100% + 8px);
		top: 50%;
		transform: translateY(-50%);
	}
	&_orange {
		background-color: #f5a669;
	}
	&_primary {
		background-color: #685b86;
	}
	&_help {
		background-color: #707070;
	}
}

.l-popupover {
	width: 50%;
	position: relative;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 6px;
	overflow: hidden;
	padding: 33px 100px 36px 33px;
	&_help {
		background-color: rgba(108, 108, 108, 0.36);
		.l-popupover_close {
			color: #fff;
		}
		.l-popupover_text {
			color: #fff;
		}
	}
	&_info {
		background-color: rgba(245, 166, 105, 0.36);
		.l-popupover_close {
			color: #f5a669;
		}
		.l-popupover_text {
			color: #f5a669;
		}
	}
	&_primary {
		background-color: rgba(104, 91, 134, 0.36);
		.l-popupover_close {
			color: #685b86;
		}
		.l-popupover_text {
			color: #685b86;
		}
	}
	&_close {
		position: absolute;
		top: 10px;
		right: 10px;
		.nsb();
		font-size: 46px;
		line-height: 24px;
		cursor: pointer;
	}
	&_text {
		.nsr();
		font-size: 17px;
	}
}
.kit-link {
	display: inline-block;
	padding: 25px 70px;
	.nsb();
	font-size: 28px;
	text-transform: uppercase;
	border-radius: 6px;
	margin-right: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	transition: .4s;
}
.kit-link_orange {
	background: #f5a669;
	color: #fff;
	&:hover {
		transition: .4s;
		box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
	}
}
.kit-link_transparent {
	background: transparent;
	border: 2px solid #f5a669;
	color: #f5a669;
	&:hover {
		background: #f5a669;
		color: #fff;
	}
}



.l-label {
	display: flex;
	align-items: center;
	.nsr();
	font-size: 18px;
	color: #707070;
}
.l-input {
	max-width: 60px;
	height: 30px;
	border: none;
	border-bottom: 1px solid #707070;
	margin-left: 16px;
	outline: none;
	margin-top: 10px;
	color: #707070;
	.nsr();
	font-size: 18px;
	&:focus {
		border-bottom: 1px solid #f5a669;
	}
}

.l-checkbox {
	color: #707070;
	font-size: 21px;
	.nsr();
	display: flex;
	align-items: center;
	margin-right: 20px;
	&_span {
		display: inline-block;
		width: 25px;
		height: 25px;
		border-radius: 3px;
		border: 1px solid #707070;
		background-color: #ffffff;
		margin-right: 23px;
	}
	&_orange {
		svg {
			display: none;
			fill: #f5a669;
		}
	}
	&_primary {
		svg {
			display: none;
			fill: #685b86;
		}
	}
	&_input {
		display: none;
		&:checked + .l-checkbox_span {
			svg {
				display: block;
			}
		}
	}
}

.l-radio {
	color: #707070;
	font-size: 21px;
	.nsr();
	display: flex;
	align-items: center;
	margin-right: 20px;
	&_span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 1px solid #707070;
		background-color: #ffffff;
		margin-right: 23px;
	}
	&_orange {
		.l-radio_circle {
			display: none;
			background: #f5a669;
		}
	}
	&_primary {
		.l-radio_circle {
			display: none;
			background: #685b86;
		}
	}
	&_circle {
		display: none;
		width: 18px;
		height: 18px;
		border-radius: 50%;
	}
	&_input {
		display: none;
		&:checked + .l-radio_span {
			.l-radio_circle {
				display: block;
			}
		}
	}
}


@media (max-width: 1360px) and (min-width: 992px) {
	.header__nav {
		margin-left: 15px;
	}
	.header__alerts a:not(:first-child) {
		margin-left: 20px;
	}
	.header__row {
		height: 130px;
		img {
			height: 100%;
		}
	}
	.header__logo {
		height: 120px;
		width: auto;
	}
	.header__nav .nav__link {
		font-size: 18px;
	}
	.header__list .header__sublist {
		top: 74px;
	}
	.product:not(:nth-child(4n)) {
		margin-right: 0;
	}
	.product:not(:nth-child(3n)) {
		margin-right: 40px;
	}
	.product .product__mark {
		right: -30px;
	}
	.footer-img {
		left: -29%;
	}
	.footer-right .footer-form {
		width: 310px;
	}
	.footer-col {
		margin-left: 25px;
	}
	.index-form-item {
		font-size: 18px;
	}
	.index-form-item:not(:last-child) {
		margin-right: 10px;
	}
	.sell-form-col {
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}
	.sell-select {
		width: 225px;
		.current {
			display: inline-block;
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.check-label::before {
		margin-right: 10px;
	}
	.form--row label:not(:last-child) {
		margin-right: 10px;
	}
	.form--row input {
		margin-left: 10px;
		max-width: 45px;
	}
	.spr__item {
		width: 295px;
		height: auto;
		margin-bottom: 22px;
	}
	.spr__item:not(:nth-child(3n)) {
		margin-right: 22px;
	}
	.header2 .header__logo {
		height: 105px;
	}
	.header2 .header__list .header__sublist {
		top: 67px;
	}
	.contacts__items {
		padding-bottom: 100px;
	}
	.reviews__comment .comment {
		max-width: 675px;
	}
	.klin__left {
		max-width: 335px;
		min-height: auto;
	}
	.klin__right {
		max-width: 550px;
		min-height: auto;
	}
	.vet__item-tags span {
		margin-right: 10px;
	}
	.obv__left {
		max-width: 49%;
	}
	.obv__left-body img {
		width: 300px;
		height: 300px;
	}
	.obv__left-body .body-text {
		max-height: 300px;
	}
	.obv__right {
		max-width: 49%;
	}
	.obv__comments {
		padding: 21px 20px 25px 25px;
	}
	.obv__comment .comment {
		max-width: 320px;
	}
	.post__left {
		max-width: 40%;
	}
	.post__right {
		max-width: 59%;
	}
	.post__image {
		width: 100%;
		height: 372px;
	}
	.post__right .cat-item {
		width: 24%;
		justify-content: center;
		font-size: 16px;
	}
	.post__content-first {
		padding: 25px 15px 40px 15px;
	}
	.post__content-select {
		width: 320px;
	}
	.post__content-select .nice-select {
		font-size: 14px;
	}
	.post__content-select .color-pick {
		font-size: 14px;
	}
	.post__content-title {
		max-width: 150px;
		font-size: 14px;
	}
	.post__content-title svg {
		flex-shrink: 0;
	}
	.post__content-input {
		width: 320px;
	}
	.check-label {
		font-size: 14px;
	}
	.post__content-second {
		padding: 25px 15px 40px 15px;
	}
	.post__content-select .checks .check-label::before {
		margin-right: 5px;
	}
	.obv--list-item {
		padding: 8px 12px;
	}
	.post__form .file label {
		height: 50px;
		line-height: 50px;
		font-size: 14px;
	}
	.post .btns .preview {
		font-size: 20px;
	}
	.post .btns .ready {
		height: 50px;
		font-size: 20px;
	}
	.add-region {
		font-size: 14px;
	}
	.post__content-select .price-val {
		font-size: 14px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.header {
		margin-bottom: -50px;
		border-radius: 0;
	}
	.header__burger {
		display: block;
		margin-left: 20px;
	}
	.header__nav {
		display: none;
	}
	.header__alerts svg {
		width: 24px;
		height: 24px;
	}
	.header__alerts a:not(:first-child) {
		margin-left: 20px;
	}
	.header__row {
		height: 50px;
		img {
			height: 100%;
		}
	}
	.header2 {
		margin-bottom: 0;
	}
	.header2 .header__row {
		height: 50px;
		img {
			height: 100%;
		}
	}
	.header__logo {
		height: 40px;
		width: auto;
	}
	.header__nav .nav__link {
		font-size: 18px;
	}
	.header__list .header__sublist {
		top: 74px;
	}
	.header2 .header__logo {
		height: 40px;
	}
	.header2 .header__list .header__sublist {
		top: 67px;
	}
	.header__alerts .change--lang {
		top: 37px;
	}
	.mobile__menu {
		opacity: 1;
		z-index: 11;
		max-width: 300px;
		width: 100%;
		height: calc(100vh - 50px);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 1px;
		background-color: #5e527a;
		position: fixed;
		top: 50px;
		right: 0;
		transform: translateX(400%);
		transition: .5s;
		&.active {
			transform: translateX(0);
			transition: .5s;
		}
		.header__nav {
			display: block;
			margin-left: 0;
		}
		.header__list {
			flex-direction: column;
			align-items: flex-start;
			padding: 10px;
		}
		.header__list-item {
			margin-bottom: 15px;
		}
		.header__list .header__sublist {
			position: relative;
			z-index: 11;
			opacity: 1;
			top: unset;
			left: unset;
			background: transparent;
			box-shadow: none;
		}
		.header__sublist-item {
			border-bottom: 1px solid #707070;
			padding: 7px 0;
		}
	}
	.main {
		height: 300px;
		padding-bottom: 50px;
	}
	.main__btn {
		height: 50px;
		width: 300px;
		font-size: 20px;
	}
	.main__btn svg {
		width: 20px;
		height: 20px;
	}
	.white-bg-block {
		padding-left: 0;
	}
	.white-bg-block .search {
		height: 50px;
		padding: 10px 15px;
	}
	.products {
		justify-content: center;
	}
	.product:not(:nth-child(4n)) {
		margin-right: 0;
	}
	.product:not(:nth-child(2n)) {
		margin-right: 30px;
	}
	.orange-bg-row {
		justify-content: center;
	}
	.footer-img {
		left: -40%;
	}
	.footer-row {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer-col {
		margin-left: 0;
	}
	.footer-right {
		margin: 30px auto 0 auto;
	}
	.index-form-header .or-search {
		width: 150px;
		margin-right: 10px;
		height: 40px;
		font-size: 16px;
	}
	.index-form-header .or-search svg {
		margin-right: 10px;
		width: 20px;
		height: 20px;
		flex-shrink: 0;
	}
	.index-form-list {
		padding: 0 10px;
	}
	.index-form-item {
		padding: 1px 10px;
		font-size: 14px;
	}
	.index-form-item:not(:last-child) {
		margin-right: 10px;
	}
	.index-form-body {
		height: auto;
	}
	.sell-form__row {
		flex-direction: column;
		align-items: center;
	}
	.sell-form-col {
		margin-right: 0;
		align-items: center;
	}
	.submit-form {
		margin-top: 30px;
		height: 50px;
		width: 200px;
	}
	.check-label {
		font-size: 14px;
	}
	.nice-select .current {
		font-size: 14px;
	}
	.form--row span {
		font-size: 14px;
	}
	.form--row label {
		font-size: 14px;
	}
	.form--row p {
		font-size: 14px;
	}
	.add-region {
		font-size: 14px;
	}
	.sos-form-content {
		padding-bottom: 80px;
	}
	.sos-form-content .submit-form {
		bottom: 0;
	}
	.index-form-body .left-elems {
		left: -1px;
	}
	.sort-sel .nice-select {
		width: 285px;
	}
	.white-bg-block2 .search {
		padding: 5px 10px;
		height: 43px;
	}
	.spr__item {
		width: 49%;
		height: auto;
		margin-bottom: 13px;
	}
	.spr__item:not(:nth-child(3n)) {
		margin-right: 0;
	}
	.spr__item:not(:nth-child(2n)) {
		margin-right: 13px;
	}
	.white-bg-row {
		flex-wrap: wrap-reverse;
	}
	.navbar {
		margin-bottom: 15px;
	}
	.vet__item-tags {
		flex-wrap: wrap;
	}
	.vet__item-tags span {
		margin: 5px 10px;
	}
	.vet__item-img {
		height: auto;
	}
	.klin__items {
		align-items: flex-start;
	}
	.klin__left {
		max-width: 45%;
		min-height: auto;
	}
	.klin__right {
		max-width: 53%;
		min-height: auto;
	}
	.reviews__body {
		padding: 20px 10px;
	}
	.reviews__comment .comment {
		max-width: 550px;
	}


	.obv__left {
		max-width: 49%;
	}
	.obv__left-body {
		flex-direction: column;
	}
	.obv__left-body .abs-img {
		bottom: unset;
		top: 15px;
	}
	.obv__left-body img {
		width: 100%;
		height: 300px;
	}
	.obv__left-body .body-text {
		max-height: 100%;
	}
	.obv__right {
		max-width: 49%;
	}
	.obv__comments {
		padding: 15px;
	}
	.obv__comment .comment {
		max-width: 240px;
	}
	.obv__right-body .body--item .color {
		margin: 5px 0;
	}
	.obv__comment .comment__header {
		padding: 5px 10px;
	}
	.obv__comment .comment__header .commit {
		display: none;
	}
	.obv__comment:not(:last-child) .reviews__circle::after {
		height: 140px;
	}
	.post {
		flex-direction: column-reverse;
	}
	.post__left {
		margin-top: 30px;
	}
	.post__content-first {
		padding: 25px 15px 40px 15px;
	}
	.post__content-second {
		padding: 25px 15px 40px 15px;
	}
	.region-popup {
		padding: 25px 40px;
	}

	.header__list .header__sublist::before {
		display: none;
	}
	.l-alert {
		width: 100%;
		&_header {
			padding: 15px;
		}
		&_body {
			padding: 15px;
		}
	}
	.l-message {
		padding: 15px;
	}
	.l-danger {
		padding: 15px;
	}
	.l-popup {
		max-width: 100%;
		&_header {
			padding: 15px;
		}
		&_body {
			padding: 15px;
		}
		&_buttons {
			padding: 15px;
		}
		&_button {
			font-size: 24px;
			&-save {
				margin-left: 15px;
			}
		}
	}
	.kit-wrapper {
		flex-direction: column;
	}
	.l-tooltip {
		margin-bottom: 10px;
		&_block {
			padding: 10px 20px;
			font-size: 24px;
		}
		&_hover {
			padding: 10px 20px;
			font-size: 24px;
		}
	}
	.l-popupover {
		width: 100%;
		padding: 20px 15px;
	}
	.kit-link {
		padding: 15px;
		margin-bottom: 10px;
	}
	.l-checkbox {
		margin-bottom: 10px;
	}
	.l-radio {
		margin-bottom: 10px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.header__nav {
		display: none;
	}
	.main__block {
		padding-left: 0;
	}
	.main__btn {
		width: 290px;
		height: 40px;
		font-size: 14px;
		svg {
			width: 20px;
			height: 20px;
		}
	}
	.header__alerts .change--lang {
		top: 37px;
	}
	.footer-row {
		flex-direction: column;
		align-items: flex-start;
		padding-left: 20px;
	}
	.footer-col {
		margin-left: 0;
		text-align: left;
	}
	.footer-right .footer-form {
		width: 100%;
	}
	.header {
		margin-bottom: -50px;
		border-radius: 0;
	}
	.header__burger {
		display: block;
		margin-left: 20px;
	}
	.header__nav {
		display: none;
	}
	.header__alerts svg {
		width: 24px;
		height: 24px;
	}
	.header__alerts a:not(:first-child) {
		margin-left: 20px;
	}
	.header__row {
		height: 50px;
		img {
			height: 100%;
		}
	}
	.header2 {
		margin-bottom: 0;
	}
	.header2 .header__row {
		height: 50px;
		img {
			height: 100%;
		}
	}
	.header__logo {
		height: 40px;
		width: auto;
	}
	.header__nav .nav__link {
		font-size: 18px;
	}
	.header__list .header__sublist {
		top: 74px;
	}
	.header2 .header__logo {
		height: 40px;
	}
	.header2 .header__list .header__sublist {
		top: 67px;
	}
	.mobile__menu {
		opacity: 1;
		z-index: 11;
		max-width: 300px;
		width: 100%;
		height: calc(100vh - 50px);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 1px;
		background-color: #5e527a;
		position: fixed;
		top: 50px;
		right: 0;
		transform: translateX(400%);
		transition: .5s;
		&.active {
			transform: translateX(0);
			transition: .5s;
		}
		.header__nav {
			display: block;
			margin-left: 0;
		}
		.header__list {
			flex-direction: column;
			align-items: flex-start;
			padding: 10px;
		}
		.header__list-item {
			margin-bottom: 15px;
		}
		.header__list .header__sublist {
			position: relative;
			z-index: 11;
			opacity: 1;
			top: unset;
			left: unset;
			background: transparent;
			box-shadow: none;
		}
		.header__sublist-item {
			border-bottom: 1px solid #707070;
			padding: 7px 0;
		}
	}
	.main {
		height: 300px;
		padding-bottom: 50px;
	}
	.white-bg-block {
		padding-left: 0;
	}
	.white-bg-block .search {
		padding: 6px 6px;
		font-size: 12px;
		margin-bottom: 10px;
		margin-right: 10px;
		img {
			width: 18px;
			height: 18px;
			margin-right: 10px;
		}
	}
	.white-bg-row {
		flex-direction: column-reverse;
		align-items: flex-start;
		.navbar {
			margin-left: 0;
			margin-bottom: 20px;
		}
	}
	.orange-bg-row {
		justify-content: center;
	}
	.products {
		justify-content: center;
	}
	.product:not(:nth-child(4n)) {
		margin-right: 0;
	}
	.pag-link {
		margin: 0 5px;
	}
	.footer-img {
		left: -300px;
		bottom: -100px;
	}
	.product .product__mark {
		right: -20px;
		img {
			width: 58px;
			height: 58px;
		}
	}
	.footer-right {
		align-items: flex-start;
		text-align: left;
		margin: 30px auto 0 auto;
	}
	.footer-social .social-link {
		margin-left: 0;
		margin-right: 20px;
	}
	.footer-sb span {
		display: none;
	}
	.footer-sb-items {
		padding-left: 20px;
		svg {
			width: 25px;
			height: 25px;
		}
	}
	.footer-sb-items span {
		display: block;
	}
	.footer-top {
		padding-bottom: 20px;
	}
	.white-bg-block2 {
		flex-wrap: wrap;
		width: 100%;
	}
	.sort-sel .nice-select {
		height: 34px;
		line-height: 34px;
		width: 100%;
		font-size: 12px;
		padding-left: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.sort-sel .nice-select::before {
		right: 28px;
	}
	.sort-sel {
		margin-left: 0;
		margin-bottom: 10px;
		width: 100%;
		max-width: 230px;
	}
	.spr__items {
		justify-content: center;
	}
	.spr__item {
		height: auto;
		margin-bottom: 30px;
	}
	.spr__item:not(:nth-child(3n)) {
		margin-right: 0;
	}
	.spr__item .hover-result {
		position: relative;
		opacity: 1;
		margin-top: 10px;
		background: transparent;
		align-items: flex-start;
		span {
			display: inline-block;
			.nsb();
			font-size: 14px;
			color: #707070;
			margin-bottom: 5px;
		}
	}
	.header2 .change--lang {
		top: 44px;
	}
	.vet__items {
		align-items: center;
	}
	.vet__item {
		flex-wrap: wrap;
		max-width: 290px;
	}
	.vet__item-img {
		width: 100%;
	}
	.vet__item-info {
		padding: 10px;
	}
	.vet__item-tags {
		flex-wrap: wrap;
	}
	.vet__item-tags span {
		margin: 5px;
	}
	.res__item-params {
		flex-direction: column;
		align-items: flex-start;
	}
	.res__items {
		align-items: center;
	}
	.res__item {
		flex-wrap: wrap;
	}
	.res__item-img {
		width: 100%;
		height: 294px;
	}
	.res__item-info {
		padding: 10px;
	}
	.res__item-params-row {
		margin-top: 10px;
	}
	.contacts__items {
		flex-wrap: wrap;
		margin-top: 0;
		padding-bottom: 50px;
	}
	.contacts__item {
		width: 100%;
		margin-bottom: 20px;
	}
	.popup__body {
		padding: 20px;
	}
	.klin__items {
		flex-wrap: wrap;
		justify-content: center;
	}
	.klin__left {
		min-height: auto;
		margin-bottom: 20px;
	}
	.klin__right {
		min-height: auto;
	}
	.reviews__body {
		padding: 20px 10px;
		margin-top: 0;
	}
	.reviews__list {
		justify-content: space-between;
	}
	.reviews__item {
		margin-right: 0;
		width: auto;
		font-size: 14px;
	}
	.reviews__item svg {
		margin-right: 8px;
	}
	.reviews__comment .date {
		font-size: 12px;
	}
	.reviews__comment .comment__header {
		padding: 10px;
	}
	.reviews__comment .comment__body {
		padding: 10px;
	}
	.reviews__comment .comment__body input {
		min-height: 30px;
	}
	.reviews__comment .comment {
		max-width: 78%;
	}
	.obv__items {
		flex-wrap: wrap;
		justify-content: center;
	}
	.obv__left {
		max-width: 500px;
		margin-bottom: 20px;
	}
	.obv__left-body img {
		width: 100%;
		height: 100%;
	}
	.obv__left-body {
		flex-wrap: wrap;
	}
	.obv__left-body .abs-img {
		bottom: unset;
		top: 15px;
	}
	.obv__left-body .body-text {
		padding: 10px;
		max-height: 267px;
	}
	.obv__right-body .body--item p {
		max-width: 50%;
		text-align: left;
	}
	.obv__right-body .body--item span {
		max-width: 50%;
		text-align: right;
	}
	.obv__right-body .body--item .color {
		margin: 5px 0;
	}
	.obv__comments {
		padding: 20px 10px;
	}
	.obv__comment .date {
		font-size: 12px;
	}
	.obv__comment .reviews__circle {
		margin-top: 10px;
	}
	.obv__comment:not(:last-child) .reviews__circle::after {
		height: calc(100% + 10px);
	}
	.obv__comment:first-child .reviews__circle::after {
		height: calc(100% + 40px);
	}
	.obv__comment .comment {
		max-width: 78%;
		margin-top: 10px;
	}
	.obv__comment .comment__header {
		padding: 10px;
	}
	.obv__comment .comment__header .commit {
		display: none;
	}
	.post {
		flex-wrap: wrap;
		justify-content: center;
	}
	.post__right .post__header {
		padding: 0 10px;
	}
	.post__right .cat-item {
		font-size: 13px;
		width: 24%;
		justify-content: center;
		padding: 10px 0;
		text-align: center;
	}
	.post__right .cat-item svg {
		display: none;
	}
	.post__content-first {
		padding: 20px 10px;
	}
	.post__content-info {
		margin-top: 30px;
	}
	.post__content-first h3 {
		margin-left: 0;
	}
	.post__content-row {
		flex-wrap: wrap;
	}
	.post__content-title {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.post__content-select {
		width: 100%;
	}
	.post__content-select .checks .check {
		margin: 5px;
	}
	.post__content-select .checks {
		flex-wrap: wrap;
	}
	.post__content-select .price {
		flex-wrap: wrap;
	}
	.post__content-select .price-val {
		margin-bottom: 10px;
		font-size: 14px;
	}
	.check-label {
		font-size: 14px;
	}
	.post__content-second {
		padding: 20px 10px;
	}
	.post .btns .preview {
		display: inline-block;
		margin-right: 0;
		margin-bottom: 10px;
		font-size: 18px;
	}
	.post .btns .ready {
		height: 50px;
		font-size: 18px;
	}
	.obv--list {
		width: auto;
		margin: 5px;
	}
	.obv--list-item {
		padding: 5px 0;
		width: 25%;
		height: 34px;
		text-align: center;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.post__content-select .dop-area {
		margin-top: 5px;
	}
	.post__content-select .add-region {
		position: relative;
		bottom: unset;
		margin-top: 0;
	}

	.popup__item {
		padding: 10px 0 10px 5px;
		font-size: 12px;
	}
	.popup {
		max-width: 95%;
	}
	.popup__body .popup-check label {
		font-size: 12px;
	}
	.popup__body .popup-label {
		margin-bottom: 20px;
	}
	.popup-social {
		margin-top: 20px;
	}
	.popup-social span {
		font-size: 16px;
	}
	.popup-social .soc {
		margin: 0 5px;
		font-size: 10px
	}
	.popup__body .popup-submit button {
		font-size: 14px;
	}
	.popup__body .popup-input {
		height: 21px;
		font-size: 14px;
	}
	.popup__body .error + .popup-span {
		top: -14px;
	}
	.region-popup {
		max-width: 95%;
		padding: 15px;
		max-height: 90vh;
		overflow: hidden;
		overflow-y: auto;
	}
	.region-popup-row {
		flex-wrap: wrap;
		justify-content: center;
	}
	.region-popup-col {
		margin: 0 4px;
	}

	.index-form-header .or-search {
		width: 100px;
		height: 30px;
		font-size: 12px;
		display: none;
	}
	.index-form-header .or-search svg {
		display: none;
	}
	.index-form-item:not(:last-child) {
		margin-right: 0;
	}
	.index-form-item {
		padding: 15px 5px;
		font-size: 12px;
		text-align: center;
		width: 24%;
	}
	.index-form-list {
		padding: 0 5px;
		width: 100%;
	}
	.index-form-body {
		height: auto;
		padding: 10px;
	}
	.index-form-item svg {
		display: none;
	}
	.sell-select {
		width: auto;
		font-size: 14px;
		margin-bottom: 20px;
	}
	.sell-form__row {
		flex-wrap: wrap;
	}
	.sell-form-col {
		margin-right: 0;
		width: 100%;
	}
	.checks {
		justify-content: flex-start;
		max-width: 100%;
	}
	.check {
		margin-bottom: 10px;
		margin-right: 20px;
	}
	.check-label::before {
		margin-right: 10px;
	}
	.form--row span {
		font-size: 14px;
		width: 57px;
	}
	.form--row label {
		font-size: 14px;
	}
	.form--row input {
		margin-left: 10px;
		max-width: 40px;
		font-size: 14px;
	}
	.form--row p {
		font-size: 14px;
	}
	.index-form-body .left-elems {
		display: none;
	}
	.form--row label:not(:last-child) {
		margin-right: 5px;
	}
	.submit-form {
		width: 100%;
		height: 44px;
		font-size: 18px;
		margin-top: 20px;
	}
	.sos-form-content {
		margin: 0;
	}
	.sos-list {
		margin-bottom: 20px;
	}
	.sos-item {
		padding: 8px 5px;
		font-size: 12px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.sos-form-content .submit-form {
		position: relative;
		bottom: 0;
		margin-top: 20px;
	}
	.post .btns {
		margin-top: 20px;
	}
	.post__image {
		width: 100%;
		height: 100%;
	}
	.post__form .added-img .img {
		width: 100px;
		height: 100px;
	}
	.post__left {
		margin-bottom: 20px;
	}

	.ajax-helper {
		max-width: 200px;
	}
	.popup__body .popup-check label::before {
		line-height: normal;
	}
	.post__form .file label {
		height: 40px;
		line-height: 36px;
		font-size: 16px;
	}


	.popup__body .error + .popup-span {
		top: -14px;
	}
	.popup__body .popup-input {
		&:focus + .popup-span {
			top: -14px;
		}
	}
	.popup__body .valid + .popup-span {
		top: -14px;
	}
	.header__list .header__sublist::before {
		display: none;
	}
	.obv__left-body .vet-fancy {
		width: 100%;
	}

	.l-alert {
		width: 100%;
		&_header {
			padding: 15px;
		}
		&_body {
			padding: 15px;
		}
	}
	.l-message {
		padding: 15px;
	}
	.l-danger {
		padding: 15px;
	}
	.l-popup {
		max-width: 100%;
		&_header {
			padding: 15px;
		}
		&_body {
			padding: 15px;
		}
		&_buttons {
			padding: 15px;
		}
		&_button {
			font-size: 24px;
			&-save {
				margin-left: 15px;
			}
		}
	}
	.kit-wrapper {
		flex-direction: column;
	}
	.l-tooltip {
		margin-bottom: 10px;
		&_block {
			padding: 10px 20px;
			font-size: 24px;
		}
		&_hover {
			padding: 10px 20px;
			font-size: 24px;
		}
	}
	.l-popupover {
		width: 100%;
		padding: 20px 15px;
	}
	.kit-link {
		padding: 15px;
		margin-bottom: 10px;
	}
	.l-checkbox {
		margin-bottom: 10px;
	}
	.l-radio {
		margin-bottom: 10px;
	}
}