// Fonts settings
@font-face {
	font-display: swap;
	font-family: 'NotoSans_bold';
	src: url('../fonts/NotoSans-Bold.eot');
	src: local('Noto Sans Bold'), local('NotoSans-Bold'),
	url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NotoSans-Bold.woff') format('woff'),
	url('../fonts/NotoSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'NotoSans_bold-italic';
	src: url('../fonts/NotoSans-BoldItalic.eot');
	src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
	url('../fonts/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NotoSans-BoldItalic.woff') format('woff'),
	url('../fonts/NotoSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-display: swap;
	font-family: 'NotoSans_regular-italic';
	src: url('../fonts/NotoSans-Italic.eot');
	src: local('Noto Sans Italic'), local('NotoSans-Italic'),
	url('../fonts/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NotoSans-Italic.woff') format('woff'),
	url('../fonts/NotoSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-display: swap;
	font-family: 'NotoSans_regular';
	src: url('../fonts/NotoSans.eot');
	src: local('Noto Sans'), local('NotoSans'),
	url('../fonts/NotoSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NotoSans.woff') format('woff'),
	url('../fonts/NotoSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'Muli_semibold';
	src: url('../fonts/Muli-SemiBold.eot');
	src: local('Muli SemiBold'), local('Muli-SemiBold'),
	url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Muli-SemiBold.woff') format('woff'),
	url('../fonts/Muli-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

.nsr() {
	font-family: 'NotoSans_regular', sans-serif;
}
.nsri() {
	font-family: 'NotoSans_regular-italic', sans-serif;
}
.nsb() {
	font-family: 'NotoSans_bold', sans-serif;
}
.nsbi() {
	font-family: 'NotoSans_bold-italic', sans-serif;
}
.msb() {
	font-family: 'Muli_semibold', sans-serif;
}
