<div class="product">
	<div class="product__title">
		<div class="product__name">Собака</div>
		<div class="product__type">Дворняга</div>
	</div>
	<div class="product__img">
		<img src="%=static=%img/general/dog.png" alt="Собака">
	</div>
	<div class="product__info">
		<div class="product__subtitle">
			{{Icon iconName="product-mini"}}
			<a href="#">СОС/Грозит отстрел</a>
		</div>
		<div class="product__description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
		</div>
		<div class="product__free">
			Бесплатно
		</div>
	</div>
</div>